<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        {{ "main.css" | asset_url | stylesheet_tag }}
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
    </head>
    <body class="loading">

        <div class="load-icon"></div>
        {% include "header" %}

        {% comment %}nav-a{% endcomment %}
        {% comment %}{% include "nav" %}{% endcomment %}

        <main class="sv__main--content">

            <!-- {% block header %}{% endblock %} -->

            {% block content %}{% endblock %}

            {% block footer %}{% endblock %}

            
            
        </main> <!-- end canvas -->
        
        {% comment %}{% include "navB" %}{% endcomment %}

        {% include "footer" %}

        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %} {% endblock %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        
        
        
        <!-- Plugins -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
        {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
        {{ "flickity-settings.js" | asset_url | script_tag }}
        {{ "skrollr.js" | asset_url | script_tag }}

        {{ "imagesloaded.js" | asset_url | script_tag }}
        <!-- {{ "smooth-scroll.js" | asset_url | script_tag }} -->
        
        {{ "jquery.themepunch.tools.min.js" | asset_url | script_tag }}
        {{ "jquery.themepunch.revolution.js" | asset_url | script_tag }}

        <!-- Settings -->
        {{ "nav-settings.js" | asset_url | script_tag }}
        {{ "main-settings.js" | asset_url | script_tag }}
        {{ "map-settings.js" | asset_url | script_tag }}
        {{ "skrollr-settings.js" | asset_url | script_tag }}

    </body>
</html>