<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        {{ "main.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "header" %}

        {% include "nav" %}

        <main class="sv__main--content">

          {% block header %}{% endblock %}

          <div class="container-fluid no-padding">
            {% block content %}{% endblock %}
          </div>

          {% block footer %}{% endblock %}

        </main> <!-- end canvas -->
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "jasny-bootstrap.min.js" | asset_url | script_tag }}
        {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
        {{ "flickity-settings.js" | asset_url | script_tag }}
        {{ "nav-settings.js" | asset_url | script_tag }}
        {{ "main-settings.js" | asset_url | script_tag }}
    </body>
</html>