<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        {{ "main.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body class="loading">

        <div class="load-icon"></div>
        {% include "header" %}

        {% include "nav" %}

        <main class="sv__main--content">

            <!-- {% block header %}{% endblock %} -->

            {% block content %}{% endblock %}

            {% block footer %}{% endblock %}

            
            
        </main> <!-- end canvas -->
        {% include "footer" %}

        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}
        
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        {% endblock %}
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        
        <!-- Plugins -->
        {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
        {{ "flickity-settings.js" | asset_url | script_tag }}
        {{ "skrollr.js" | asset_url | script_tag }}
        {{ "imagesloaded.js" | asset_url | script_tag }}
        {{ "smooth-scroll.js" | asset_url | script_tag }}

        <!-- Settings -->
        {{ "nav-settings.js" | asset_url | script_tag }}
        {{ "main-settings.js" | asset_url | script_tag }}
        {{ "map-settings.js" | asset_url | script_tag }}
        {{ "skrollr-settings.js" | asset_url | script_tag }}


    </body>
</html>