<div class="section container-fluid white-bg container-push">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header--sm">
			<h2>Wild Stallion</h2>
			<h3>A strong and bold cut for free spirits.</h3>
		</div>
	</div>
</div><!-- end header -->

<!-- Flickity Feature Gallery -->
<div class="section container-fluid grey-bg no-padding ">
	<div class="angle-bottom-top" style="color: #fff;"></div>

	<!-- feature gallery -->
	<div class="gallery__inner--feature gallery__slider">

		<div class="gallery__inner--content offset__width">

			<!-- Flickity HTML init -->
			<div class="gallery gallery-main">
				<div class="gallery-cell">
					<img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
				</div>
				<!-- <div class="gallery-cell">
					<img class="img-responsive" src="{{ 'stallion-lg-2.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
				</div>
				<div class="gallery-cell">
					<img class="img-responsive" src="{{ 'stallion-lg-3.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
				</div>
				<div class="gallery-cell size-tall">
					<img class="img-responsive" src="{{ 'stallion-lg-4.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
				</div>-->
			</div>

			<!--flickity sub-nav -->
			<div class="gallery-nav">
			  <div class="gallery-cell"><img id="myThumb" class="img-responsive" src="{{ 'stallion-sm-1.jpg' | asset_url}}" alt="The Shave BarberShop Theme"></div>
				<!--
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'stallion-sm-2.jpg' | asset_url}}" alt="The Shave BarberShop Theme"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'stallion-sm-3.jpg' | asset_url}}" alt="The Shave BarberShop Theme"></div>
				<div class="gallery-cell"><img class="img-responsive" src="{{ 'stallion-sm-4.jpg' | asset_url}}" alt="The Shave BarberShop Theme"></div>-->
			</div>

		</div><!-- end offset content -->

	</div> <!-- end gallery slider -->

	<!-- offset container spacer -->
	<div class="sv__container--sm">
		<div class="offset__content--gallery">
		</div>
	</div>

</div><!-- end flickty feature gallery -->
