
<!-- TODO: insert images into blog text and if time - add paralaax image/slider. -->
<div class="container-fluid container__white">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header--sm">
			<h1>Wild Stallion</h1>
			<h3>A strong cut inspired by Bill and Ted's Excellent Adventure. It embodies the free spirit of a horse running through the sandy beaches etc.Introducing Playdium, the digital jukebox that delivers a new kind of entertainment experience.</h3>
		</div>
	</div>
</div>
<section class="container-fluid container__grey no-padding ">

	<!-- feature-service-card -->
	<div class="blog__inner--feature gallery__slider">

		<div class="blog__inner--content offset__width">

			<!-- Flickity HTML init -->
			<div class="gallery gallery-main">
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's2.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's3.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's2.jpg' | asset_url}}" alt="BarberShop"></div>
			</div>

			<div class="gallery-nav"> 
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd2.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd3.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd2.jpg' | asset_url}}" alt="BarberShop"></div>
			</div>
		  <!-- <img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"> -->
		</div>
	</div>

	<div class="sv__container--sm">
		<div class="offset__content--gallery">
		</div>
	</div>
	
</section>
