
<!-- TODO: insert images into blog text and if time - add paralaax image/slider. -->
<div class="container-fluid container__white container-push">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header--sm">
			<h1>Wild Stallion</h1>
			<h3>A strong and bold cut for free spirits.</h3>
		</div>
	</div>
</div>

<section class="container-fluid container__grey no-padding ">
	<div class="angle-bottom-top" style="color: #fff;"></div>
	<!-- feature-service-card -->
	<div class="blog__inner--feature gallery__slider">

		<div class="blog__inner--content offset__width">

			<!-- Flickity HTML init -->
			<div class="gallery gallery-main">
			  <div class="gallery-cell"><img id="myImg" class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's2.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's3.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 's2.jpg' | asset_url}}" alt="BarberShop"></div>
			</div>

			<div class="gallery-nav">
			  <div class="gallery-cell"><img id="myThumb" class="img-responsive" src="{{ 'd1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd2.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd3.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd1.jpg' | asset_url}}" alt="BarberShop"></div>
			  <div class="gallery-cell"><img class="img-responsive" src="{{ 'd2.jpg' | asset_url}}" alt="BarberShop"></div>
			</div>
		  <!-- <img class="img-responsive" src="{{ 's1.jpg' | asset_url}}" alt="BarberShop"> -->
		</div>
	</div>

	<div class="sv__container--sm">
		<div class="offset__content--gallery">
		</div>
	</div>

</section>
