<!-- TODO: Comment out page -->
<!-- TODO: Create universal parralx background image class for parralax -->
<section  class="container-fluid pricing__container" >

		<div class="row">

			<div id="blog" class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;" data-anchor-target="#blog" style="background-image: url({{'test2.jpg' | asset_url}});">

				<div class="col-xs-12 col-sm-7 col-md-5 no-padding blog__overview">

				</div>

				<div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-3 no-padding has-height ">
					<div class="pricing__table--wrapper ">

						<div class="blog__overview--contents">

							<div class="headline-sm">
								<h2>Featured Posts</h2>
							</div>

							<div class="feature__post card-shadow-lt">

								<div class="post-img">
									<a href="#">
									<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="" />
									</a>
								</div>

								<div class="feature-content">

									<h3>A beautifully hand crafted theme packed with tons of features.</h3>

									<div class="details">
										<div class="author">by <a href="#">Spencer bigum</a></div>
										<div class="stats">233 views | 20 comments</div>
									</div>


									<!-- <p>Msed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui...</p> -->
								</div>

								<a class="feature-link" href="#">read more</a>

							</div>

							<div class="feature__post card-shadow-lt">

								<div class="post-img">
									<a href="#">
									<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="" />
									</a>
								</div>

								<div class="feature-content">

									<h3>A beautifully hand crafted theme packed with tons of features.</h3>

									<div class="details">
										<div class="author">by <a href="#">Spencer bigum</a></div>
										<div class="stats">233 views | 20 comments</div>
									</div>


									<!-- <p>Msed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui...</p> -->
								</div>

								<a class="feature-link" href="#">read more</a>

							</div>

							<div class="feature__post card-shadow-lt">

								<div class="post-img">
									<a href="#">
									<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="" />
									</a>
								</div>

								<div class="feature-content">

									<h3>A beautifully hand crafted theme packed with tons of features.</h3>

									<div class="details">
										<div class="author">by <a href="#">Spencer bigum</a></div>
										<div class="stats">233 views | 20 comments</div>
									</div>


									<!-- <p>Msed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui...</p> -->
								</div>

								<a class="feature-link" href="#">read more</a>

							</div>

							<!-- <div class="feature__post">
								<h3>Blog post title here</h3>

								<div class="details">
									<span>2014 sept | </span>
									<a href="#">Spencer bigum</a>
								</div>

								<p>Msed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum</p>
							</div> -->

						</div>

					</div>
					<!-- end wrapper -->

				</div>
				<!-- End pricing tab accordian -->



			</div>

		</div>
		<!-- End row pricing__tabs -->
	<!-- </div> -->

</section>
<!-- End pricing container -->

<!-- TODO: mark-up blog
<section class="container-fluid no-padding blog">

	<div class="sv__container blog__wrapper">

		feature-blog-entry
		<article class="card card__feature blog-1">
		  <div class="content">
		  	<div class="content--container">
		  		<h2 class="spacer">Blog</h2>
		  		<h3>The finest read a man can get</h3>
		  	</div>
		   <div class="offset__container">
		      <a href="" class="offset__btn">Read More</a>
		    </div>
		  </div>
		  <img src="{{ 'hero-feature.jpg' | asset_url}}" alt="BarberShop">
		</article>

		<div class="row blog__mod--wrapper">

			<article class="col-xs-12 col-sm-4 blog__mod">
				<div class="blog__mod--img">
					<img class="img-responsive" src="{{'header-img.jpg' | asset_url}}" alt="">
				</div>
				<div class="blog__mod--text">
					<ul>
						<li>posted march 20th</li>
						<li>345 views</li>
					</ul>
					<h2>The finest shave A man can get headdline goes here for right now</h2>
					<p class="blog__mod--body">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a....
					</p>
				</div>
			</article>

			<article class="col-xs-12 col-sm-4 blog__mod">
				<div class="blog__mod--img">
					<img class="img-responsive" src="{{'header-img.jpg' | asset_url}}" alt="">
				</div>
				<div class="blog__mod--text">
					<ul>
						<li>posted march 20th</li>
						<li>345 views</li>
					</ul>
					<h2>The finest shave A man can get headdline goes here for right now</h2>
					<p class="blog__mod--body">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a....
					</p>
				</div>
			</article>

			<article class="col-xs-12 col-sm-4 blog__mod">

					<div class="blog__mod--img">
						<img class="img-responsive" src="{{'header-img.jpg' | asset_url}}" alt="">
					</div>
					<div class="blog__mod--text">
						<ul>
							<li>posted march 20th</li>
							<li>345 views</li>
						</ul>
						<h2>The finest shave A man can get headdline goes here for right now</h2>
						<p class="blog__mod--body">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a....
						</p>
					</div>
			</article>
		</div>

	</div>



</section> -->
