<section class="container-fluid no-padding white-bg">


<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE 1 -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-title="Intro Slide" >
					<!-- MAIN IMAGE -->
					<img src="{{'1.jpg' | asset_url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
				
					<!-- LAYER NR. 2 -->
					<!-- <div class="tp-caption tp-fade tp-resizeme shave_frame"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="-50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'logo-icon.png' | asset_url}}" alt="">
					</div> -->

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme "
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'star-icon.png' | asset_url}}" alt="">
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_small"
						data-x="center"
						data-y="center"
						data-hoffset="85"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">HTML5 theme
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_small"
						data-x="center"
						data-y="center"
						data-hoffset="-85"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Barbershop
					</div>
				
					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme shave_frame"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'logo-frame.png' | asset_url}}" alt="">
					</div>
				
					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_cursive"
						data-x="center"
						data-y="center"
						data-hoffset="-160"
						data-voffset="53"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">The
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title"
						data-x="center"
						data-y="center"
						data-hoffset="70"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Shave
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="160"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">presenting a fully featured
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="190"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">barbershop html5 theme!
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="260"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">
							<div class="shave_title_btn">
								<a href="#" class="book__now--btn">Purchase The Shave</a>
							</div>
					</div>
				
				</li>


				<!-- SLIDE  2 -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" data-title="Hipster HairCuts">
					<!-- MAIN IMAGE -->
					<img src="{{'2.jpg' | asset_url}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				
					<!-- LAYER NR. 2 -->
					<div id="arch" class="tp-caption tp-fade tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="-90"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'perfect-icon.png' | asset_url}}" alt="">
					</div>
				
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title lg"
						data-x="center"
						data-y="center"
						data-hoffset="-300"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Barbers
					</div>
				
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_cursive and"
						data-x="center"
						data-y="center"
						data-hoffset="-35"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">&
					</div>
				
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title lg"
						data-x="center"
						data-y="center"
						data-hoffset="300"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Creatives
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc lg"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="160"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">a beautifully hand crafted theme packed 
					</div>
				
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc lg"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="195"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">with tons of features
					</div>
					
				</li>

				<!-- SLIDE  3-->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" data-title="Hipster HairCuts">
					<!-- MAIN IMAGE -->
					<img src="{{'3.jpg' | asset_url}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					<div class="tp-caption tp-fade tp-resizeme shave_title md black"
						data-x="center"
						data-y="center"
						data-hoffset="-250"
						data-voffset="-270"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'razors.png' | asset_url}}" alt="">
					</div>
					<!-- LAYERS
					LAYER NR. 1 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_cursive gold lg"
						data-x="center"
						data-y="center"
						data-hoffset="-230"
						data-voffset="-100"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Explore
					</div>

					<div class="tp-caption tp-fade tp-resizeme shave_title md black"
						data-x="center"
						data-y="center"
						data-hoffset="-250"
						data-voffset="45"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">pre-built pages
					</div>

					<div class="tp-caption tp-fade shave_title md black"
						data-x="center"
						data-y="center"
						data-hoffset="-250"
						data-voffset="125"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">& features
					</div>

					
					
				</li>
				
			</ul>
		</div>
	</div>
</section>
