<!--
#################################
	- Feature Module 2 -
#################################
-->
<section class="container-fluid no-padding">
    <div class="svfm2__wrapper">

        <div class="svfm2__wrapper--images">
            <div class="svfm2__image active" data-title="beard" style="background-image: url({{'feature-background_3.jpg' | asset_url}});">
            </div>
            <div class="svfm2__image" data-title="shaving" style="background-image: url({{'feature-background2.jpg' | asset_url}});">
            </div>
            <div class="svfm2__image" data-title="hair-cuts" style="background-image: url({{'feature-background_4.jpg' | asset_url}});">
            </div>
        </div>

        <div class="svfm2__tabs">

            <div class="svfm2__header">
                <div class="headline-container">
                    <h3>Beard & Mustache</h3>
                </div>
            </div>

            <div class="pricing__table" role="tabpanel" data-pricing-id="pricing-toggle">

                <ul id="myTab" class="nav nav-tabs nav-justified white-tabs" role="tablist">
                    <li id="beard-mustache" role="presentation" class="tab__control active" data-title="Beard & Mustache">
                        <a href="#beard" id="beard-tab" role="tab" data-toggle="tab" aria-controls="beard" aria-expanded="false">
                            <div class="tab-wrapper-icons">
                                <span class="tab-icon"><img class="img-responsive" src="{{'noun_140468_cc.png' | asset_url}}" alt=""/></span>
                                <span class="text">Beard & Mustache</span>
                            </div>
                        </a>
                    </li>
                    <li id="shave" role="presentation" class="tab__control" data-title="Shave">
                        <a href="#shaving" role="tab" id="shaving-tab" data-toggle="tab" aria-controls="shaving" aria-expanded="false">
                            <div class="tab-wrapper-icons">
                                <span class="tab-icon"><img class="img-responsive" src="{{'noun_163738_cc.png' | asset_url}}" alt=""/></span>
                                <span class="text">Shaving</span>
                            </div>
                        </a>
                    </li>

                    <li id="haircuts" role="presentation" class="tab__control" data-title="Hair Cuts">
                        <a href="#hair-cuts" role="tab" id="haircuts-tab" data-toggle="tab" aria-controls="hair-cuts" aria-expanded="false">
                            <div class="tab-wrapper-icons">
                                <span class="tab-icon"><img class="img-responsive" src="{{'noun_22509_cc.png' | asset_url}}" alt=""/></span>
                                <span class="text">Hair Cuts</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <!-- tab content -->
                <div id="myTabContent" class="tab-content">

                    <!-- start breard and mustache -->
                    <div role="tabpanel" class="tab-pane tab-fade active in" id="beard" aria-labelledby="beard-tab">

                        <div class="price__sheet">

                            <div class="item">
                                <div class="title">
                                    <h3>Stash craft</h3>
                                </div>
                                <!--<div class="price">
                                    <p>$15.00</p>
                                </div>-->
                                <div class="desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
                                </div>
                            </div>
                            <div class="item__link">
                                <a href="#">Show me the gallery<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- end breard and mustache -->

                    <!-- start shaving -->
                    <div role="tabpanel" class="tab-pane tab-fade" id="shaving" aria-labelledby="shaving-tab">
                        <div class="price__sheet">

                            <div class="item">
                                <div class="title">
                                    <h3>The Shave</h3>
                                </div>
                                <!--<div class="price">
                                    <p>$15.00</p>
                                </div>-->
                                <div class="desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
                                </div>
                            </div>
                            <div class="item__link">
                                <a href="#">Show me the gallery<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- start haircut -->
                    <div role="tabpanel" class="tab-pane tab-fade" id="hair-cuts" aria-labelledby="haircuts-tab">

                        <div class="price__sheet">

                            <div class="item">
                                <div class="title">
                                    <h3>A real hair cut</h3>
                                </div>
                                <!--<div class="price">
                                    <p>$15.00</p>
                                </div>-->
                                <div class="desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
                                </div>
                            </div>
                            <div class="item__link">
                                <a href="#">Show me the gallery<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- end haircut -->

                </div>
            </div>
        </div>

    </div>

</section>