<!-- TODO: Comment out page -->

<section class="container-fluid white-bg">
  <div class="row staggered__container ">
    <div class="col-sm-12 intro">
      <h6>We are masters of the blade</h6>
      <h2>Welcome to our barbershop</h2>
      <p class="sub-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repellat autem dolor expedita minima quidem vero ipsa ea tempore dolorem nobis eius, modi molestiae dignissimos assumenda aliquid molestias adipisci veritatis!</p>
    </div>


    <div class="box box-sm box-2">
      <div class="box-overlay"></div>
      <img src="{{ 'box-sm.jpg' | asset_url}}" alt="">
      <div class="content">
        <p>Find the most popular hair styles</p>
        <i class="fa fa-long-arrow-right fa-lg animate-off"></i>
        <i class="fa fa-long-arrow-right fa-lg animate-on"></i>
      </div>
      <a href="#" class="box-link">View More</a>
    </div>

    <div class="box box-lg box-1">
      <div class="content">
        <h3>How it all started</h3>
        <p>A story about passion, adventure, and great haircuts. </p>
        <i class="fa fa-long-arrow-right fa-lg animate-off"></i>
        <i class="fa fa-long-arrow-right fa-lg animate-on"></i>
      </div>
      <div class="box-overlay"></div>
      <img src="{{ 'box-lg.jpg' | asset_url}}" alt="BarberShop">
      <a href="" class="box-link"></a>
    </div>

    <div class="box box-sm-hours box-4">
      <div class="content">
      <i class="fa fa-clock-o fa-lg clock"></i>
        <p>our weekly shop hours</p>
        <div class="offset__container">
          <div class="offset__btn">
            <i class="fa fa-long-arrow-right fa-lg animate-off"></i>
            <i class="fa fa-long-arrow-right fa-lg animate-on"></i>
          </div>
        </div>
      </div>
      <div class="box-overlay"></div>
      <img src="{{ 'box-sm-hours.jpg' | asset_url}}" alt="BarberShop">
      <a href="" class="box-link"></a>
    </div>

    <div class="box box-sm-tall box-3 hidden-xs">
      <img src="{{ 'box-sm-tall.jpg' | asset_url}}" alt="BarberShop">
    </div>

    <div class="box box-last box-1">
      <div class="content">
        <h3>Meet the staff</h3>
        <p>Find the right barber expert to clean you up.</p>
        <i class="fa fa-long-arrow-right fa-lg animate-off"></i>
        <i class="fa fa-long-arrow-right fa-lg animate-on"></i>
      </div>
      <div class="box-overlay"></div>
      <img src="{{ 'box-last.jpg' | asset_url}}" alt="BarberShop">
      <a href="" class="box-link"></a>
    </div>
  </div>

</section>
