<div class="sv__container staggered__container">
  <h2>Beyond the shave</h2>

  

  <div class="box box-sm box-2">
    <img src="{{ 'box-sm.jpg' | asset_url}}" alt="">
    <div class="content">
      <p>Take a look at the most popular hair and beared styles</p>
      <i>icon</i>
    </div>
    <a href="" class="box-link"></a>
  </div>

  <div class="box box-lg box-1">
    <div class="content">
      <h3>How it all started</h3>
      <p>From beared sculpting to modern hipster haircuts, we do it all, and we do it well.</p>
      <i>icon</i>
    </div>
    <img src="{{ 'box-lg.jpg' | asset_url}}" alt="BarberShop">
    <a href="" class="box-link"></a>
  </div>

  <div class="box box-sm-hours box-4">
    <div class="content">
      <p>View our weekly shop hours here</p>
    </div>
    <img src="{{ 'box-sm-hours.jpg' | asset_url}}" alt="BarberShop">
    <a href="" class="box-link"></a>
  </div>

  <div class="box box-sm-tall box-3 hidden-xs">
    <img src="{{ 'box-sm-tall.jpg' | asset_url}}" alt="BarberShop">
    <a href="" class="box-link"></a>
  </div>

  <div class="box box-last box-1">
    <div class="content">
      <h3>How it all started</h3>
      <p>From beared sculpting to modern hipster haircuts, we do it all, and we do it well.</p>
      <i>icon</i>
    </div>
    <img src="{{ 'box-last.jpg' | asset_url}}" alt="BarberShop">
    <a href="" class="box-link"></a>
  </div>

</div>