<section class="container-fluid container__grey">

	<!-- HOW IT WORKS -->
	<div class="row sv__container--sm">
		<div class="shave__works">
			<h2 class="spacer">How it works</h2>

			<!-- GRID -->
			<div class="shave__row">
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card">
					<div class="content">
					<span class="shave__card--icon"><img class="img-responsive" src="{{ 'shave-service-hot-towel.png' | asset_url}}" alt=""></span>
						<h3>Hot Towel</h3>
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card">
					<div class="content">
					<span class="shave__card--icon"><img class="img-responsive" src="{{ 'shave-service-hot-towel.png' | asset_url}}" alt=""></span>
						<h3>The Shave</h3>
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>
					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card--img visible-md visible-lg">
					<img class="img-responsive" src="{{ 'card-img.jpg' | asset_url}}" alt="">
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 visible-md visible-lg shave__card--img">
					<img class="img-responsive" src="{{ 'card-img.jpg' | asset_url}}" alt="">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card">
					<div class="content">
						<span class="shave__card--icon"><img class="img-responsive" src="{{ 'shave-service-hot-towel.png' | asset_url}}" alt=""></span>
						<h3>Hot Towel</h3>
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card">
					<div class="content">
						<span class="shave__card--icon"><img class="img-responsive" src="{{ 'shave-service-hot-towel.png' | asset_url}}" alt=""></span>
						<h3>Hot Towel</h3>
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>
				</div>
			
			</div>
			<!-- End Grid -->
		</div>
		<!-- End shave__works -->

	</div>
	<!-- End container sm -->

</section>