<section class="container-fluid container__white">

	<!-- HOW IT WORKS -->
	<div class="sv__container--md">
		<div class="row shave__works">

			<!-- GRID -->
			<div class="shave__row">

				<!-- Item 1 -->
				<div class="col-xs-12 col-sm-12 col-md-4 shave__card">
					<div class="content">
						<i class="fa fa-bookmark fa-lg"></i>
						<h3>Hot Towel Message</h3>
						<!-- <div class="divider__plus">
							<p class="middle">
								<span>+</span>
							</p>
						</div> -->
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave. </p>
					</div>
				</div>

				<!-- Image 1 -->
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card--img visible-md visible-lg" style="background-image: url({{'service-image-1.jpg' | asset_url}});">
					<!-- <img class="img-responsive" src="{{ 'service-image-1.jpg' | asset_url}}" alt=""> -->
				</div>

				<!-- Item 2 -->
				<div class="col-xs-12 col-sm-12 col-md-4 shave__card">
					<div class="content">
						<i class="fa fa-tint fa-lg"></i>
						<h3>Our Finest Shaving Cream</h3>
						<!-- <div class="divider__plus">
							<p class="middle">
								<span>+</span>
							</p>
						</div> -->
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>

				</div>

				<!-- ROW 2 -->
				<!-- Image 2 -->
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card--img visible-md visible-lg" style="background-image: url({{'service-image-2.jpg' | asset_url}});">
					<!-- <img class="img-responsive" src="{{ 'service-image-1.jpg' | asset_url}}" alt=""> -->
				</div>

				<!-- Item 2 -->
				<div class="col-xs-12 col-sm-12 col-md-4 shave__card">
					<div class="content">
						<i class="fa fa-star fa-lg"></i>
						<h3>The Perfect Shave</h3>
						<!-- <div class="divider__plus">
							<p class="middle">
								<span>+</span>
							</p>
						</div> -->
						<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
					</div>
				</div>

				<!-- Image 3 -->
				<div class="col-xs-12 col-sm-6 col-md-4 shave__card--img visible-md visible-lg" style="background-image: url({{'service-image-3.jpg' | asset_url}});">
					<!-- <img class="img-responsive" src="{{ 'service-image-1.jpg' | asset_url}}" alt=""> -->
				</div>

			</div>
			<!-- End Grid -->
		</div>
		<!-- End shave__works -->

	</div>
	<!-- End container sm -->

</section>
