<!-- products section -->
<div class="section container-fluid grey-bg">

	<div class="sv__container--md inner-content-module">
		<div class="products">

			<div class="single-headline">
				<h2>We Use Only the Finest Premium Products</h2>
			</div>

			<div class="section__wrapper">

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 products__wrapper">

					<div class="card__slider card-shadow-md">

						<!-- product content -->
						<div class="content__wrapper">

							<div class="image">
								<img class="img-responsive" src="{{ 'product-bottle.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
							</div>

							<div class="title__wrapper">

								<div class="title">

									<a class="open" href="">
										<h5>Sandalwood</h5>
										<h6>Mousse</h6>
										<div class="product__bg--1" style="background-image: url('{{ 'wood-fresh.jpg' | asset_url}}')">
										</div>
									</a>

									<div class="bio">
										<h6>Fresh Wood</h6>
										<p>This ain’t no tree sap, but it’s close. Long lasting, 8 hour hold for those important nights out, our Sandalwood Mousse will keep you looking and styling strong.</p>
									</div>

								</div><!-- end title -->

							</div><!-- end title wrapper -->

						</div><!-- product content -->

					</div><!-- end card wrapper -->

				</div><!-- end product -->

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 products__wrapper">

					<div class="card__slider card-shadow-md">

						<!-- product content -->
						<div class="content__wrapper">

							<div class="image">
								<img class="img-responsive" src="{{ 'product-bottle-2.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
							</div>

							<div class="title__wrapper">

								<div class="title">

									<a class="open" href="">
										<h5>Super Fresh</h5>
										<h6>Aftershave</h6>
										<div class="product__bg--2" style="background-image: url('{{ 'ocean-fresh.jpg' | asset_url}}')">
										</div>
									</a>

									<div class="bio">
										<h6>Fresh Scent</h6>
										<p>Let the ladies get in close with our super fresh scent aftershave, which we promise is not as strong as you are.</p>
									</div>

								</div><!-- end title -->

							</div><!-- end title wrapper -->

						</div><!-- product content -->

					</div><!-- end card wrapper -->

				</div><!-- end product -->

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 products__wrapper">

					<div class="card__slider card-shadow-md">

						<!-- product content -->
						<div class="content__wrapper">

							<div class="image">
								<img class="img-responsive" src="{{ 'soap-product.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
							</div>

							<div class="title__wrapper">

								<div class="title">

									<a class="open" href="">
										<h5>Coffee Bean</h5>
										<h6>Lather</h6>
										<div class="product__bg--3" style="background-image: url('{{ 'coffee-scent.jpg' | asset_url}}')">

										</div>
									</a>

									<div class="bio">
										<h6>Coffee Scent</h6>
										<p>When your face needs a little wake up and clean up, our coffee bean lather is here is here to take on any task.</p>
									</div>

								</div><!-- end title -->

							</div><!-- end title wrapper -->

						</div><!-- product content -->

					</div><!-- end card wrapper -->

				</div><!-- end product -->

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 products__wrapper">

					<div class="card__slider card-shadow-md">

						<!-- product content -->
						<div class="content__wrapper">

							<div class="image">
								<img class="img-responsive" src="{{ 'product-wax.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
							</div>

							<div class="title__wrapper">

								<div class="title">

									<a class="open" href="">
										<h5>Pinewood</h5>
										<h6>Hair Putty</h6>
										<div class="product__bg--4" style="background-image: url('{{ 'pinewood.jpg' | asset_url}}')">
										</div>
									</a>

									<div class="bio">
										<h6>Pine Scent</h6>
										<p>That facial hair of yours isn’t going to put itself in place. That’s where the pinewood hair putty comes in, so you look and smell fresh and bold.</p>
									</div>

								</div><!-- end title -->

							</div><!-- end title wrapper -->

						</div><!-- product content -->

					</div><!-- end card wrapper -->

				</div><!-- end product -->

			</div><!-- end section wrapper -->

		</div><!-- end products -->

	</div><!-- end container--md -->

</div><!-- end products section -->