<!-- barber section -->
<section id="sec2" class="container__white">

	<div class="container sv__container--md inner-content-module">

		<div class="barbers">

			<div class="headline-sm">
				<h2>Featured BARBERS</h2>
			</div>

			<div class="section__wrapper">

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-4.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">The mountains is where you'll find me on the weekends.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-4.jpg' | asset_url}}" alt=""/>
						<div class="title">
							<h4>Adam Hinly</h4>
							<h5>Owner & Master Barber</h5>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-6.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">When I have time, I love to travel.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-6.jpg' | asset_url}}" alt=""/>
						<div class="title">
							<h4>Lauren Beth</h4>
							<h5>Stylist & Fashonista</h5>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-3.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I love the true craftsmenship of the retro barber and want to bring that experience to a new generation.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-3.jpg' | asset_url}}" alt=""/>
						<div class="title">
							<h4>Mike Stewart</h4>
							<h5>Master Barber</h5>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

			</div><!-- end section wrapper -->

		</div><!-- end barber wrapper -->

	</div><!-- end content wrapper -->

</section><!-- end barber section -->
