<section class="container-fluid container__white">

	<div class="container sv__container--md inner-content-module">

		<!-- <div class="headline-set1">
			<h6>Select the best Barber</h6>
			<h3>suggested barber</h3>
		</div> -->
		<div class="headline-sm">
			<h2>SUGGESTED BARBERS</h2>
		</div>

		<div class="row barber__row">

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<i class="fa fa-plus-circle fa-3x rotate"></i>
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<i class="fa fa-plus-circle fa-3x rotate"></i>
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<i class="fa fa-plus-circle fa-3x rotate"></i>
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<i class="fa fa-plus-circle fa-3x rotate"></i>
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

		</div>
		<!-- End row -->
	</div>
	<!-- End price module container-->
</section>

	<!-- Price box 1
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div>

			Price box 2
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div>

			Price box 3
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div> -->
