{% block content %} 

<section class="container-fluid white-bg">
	<div class="row">

		<div class="col-xs-12 inner__header--sm">
			<h1>
				About Us.
			</h1>
			<h3>The Shave theme is a solid HTML/CSS3 template for sale</h3>
		</div>
	</div>
	
</section>
	
<section class="container-fluid no-padding split">
	
	<div class="split-bg" style="background-image: url({{'about-2.jpg' | asset_url}});">
		
	</div>

	<div class="content">
		<div class="about">
			{% comment %}<h2>About</h2>{% endcomment %}

			<blockquote>Delivering amazing <strong>aerial</strong> shots and footage for virtually <strong>any situation</strong> from virtually <strong>any perspective</strong>.</blockquote>

			<p>Ever since I can remember, I've had passions for photography, architecture, nature and adventure. Advanced radio controlled drone technology has enabled me to take these passions to the next level. I’m <a href="http://twitter.com/jschuller" target="_blank">Jason Schuller</a>, and I’ve created <strong>Atmospheric</strong> and have assembled a small like-minded team to deliver aerial photography and videography services for you or your business including <strong>architectural</strong>, <strong>biological</strong> or <strong>geological</strong> settings. Read more about our <a href="#services">services</a> below.</p>

			<!-- Todo: Inline link with services and smooth scroll -->

			{% comment %}<img src="{{'about-signature.png' | asset_url}}" alt="">{% endcomment %}

		</div>
		
	</div>

</section>

<!-- TODO: mark-up twitterbox -->
<section id="services" class="container-fluid no-padding">

	<div class="twitter__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#services" style="background-image: url({{'about-bg.jpg' | asset_url}});">

		<div class="sv__container--md">
			
			<div class="row about__process">

				<div class="col-sm-12 col-md-6">
					<h3>our process</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos error, impedit nam sapiente nihil repellendus! Aspernatur libero, ipsum consectetur eaque provident fugit nobis autem sunt quae non! Itaque vel, atque?</p>
				</div>

				{% comment %}<div class="col-sm-12 col-md-6 process__box no-padding">

					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Define</h6>
					</div>
					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Design</h6>
					</div>
					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Build</h6>
					</div>
					
				</div>	{% endcomment %}
				
			</div>
				
		</div>

	</div>

</section>
<!-- End container -->

<section class="container-fluid no-padding white-bg footer-push">

	<div class="sv__container--md process__grid">

		<div class="row">

			<div class="col-sm-12 col-md-3 single__image">
				<img class="img-responsive" src="{{'razor.jpg' | asset_url}}" alt="">
			</div>

			<div class="col-sm-12 col-md-9 ">
				<h3 class="text-center" >Our Srevices</h3>
				<div class="row no-margin process__grid--wrapper">
					
						<div class="col-sm-12 col-md-6 process__grid--box">
							<div class="grid__inner">
								<i class="fa fa-anchor fa-2x"></i>
								<h4>Clean Shaves</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>	
						</div>

						<div class="col-sm-12 col-md-6 process__grid--box">
							<div class="grid__inner">
								<i class="fa fa-anchor fa-2x"></i>
								<h4>Hip Haircuts</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>	
						</div>

						<div class="col-sm-12 col-md-6 process__grid--box">
							<div class="grid__inner">
								<i class="fa fa-anchor fa-2x"></i>
								<h4>Mustache Styling</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>	
						</div>

						<div class="col-sm-12 col-md-6 process__grid--box">
							<div class="grid__inner">
								<i class="fa fa-anchor fa-2x"></i>
								<h4>Beard Sculpting</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>	
						</div>
					

				</div>
				

			</div>
			

		</div>
		


	</div>

	


	
</section>


{% endblock %}

{% block scripts %}
{% endblock %}

