{% block content %}

<section class="container-fluid white-bg">
	<div class="row">

		<div class="col-xs-12 inner__header--sm">
			<h1>
				About Us.
			</h1>
			<h3>The Shave theme is a solid HTML/CSS3 template for sale</h3>
		</div>
	</div>
	<div class="angle-bottom" style="border-left-color: #fff;"></div>
</section>

<section class="sv__container--fluid dual-img">
	<div class="row">
		<div class="col-xs-6 no-padding">
			<img class="img-responsive" src="{{'left-image.jpg' | asset_url}}" alt=""/>
		</div>
		<div class="col-xs-6 no-padding">
			<img class="img-responsive" src="{{'right-image.jpg' | asset_url}}" alt=""/>
		</div>
	</div>
</section>


<section class="container-fluid grey-bg">

	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="about__desc">
		<div class="content">
			{% comment %}<h2>About</h2>{% endcomment %}

			<blockquote>Delivering amazing <strong>aerial</strong> shots and footage for virtually <strong>any situation</strong> from virtually <strong>any perspective</strong>.</blockquote>

			<p>Ever since I can remember, I've had passions for photography, architecture, nature and adventure. Advanced radio controlled drone technology has enabled me to take these passions to the next level. I’m <a href="http://twitter.com/jschuller" target="_blank">Jason Schuller</a>, and I’ve created <strong>Atmospheric</strong> and have assembled a small like-minded team to deliver aerial photography and videography services for you or your business including <strong>architectural</strong>, <strong>biological</strong> or <strong>geological</strong> settings. Read more about our <a href="#services">services</a> below.</p>

			<!-- Todo: Inline link with services and smooth scroll -->

			{% comment %}<img src="{{'about-signature.png' | asset_url}}" alt="">{% endcomment %}

		</div>

	</div>
</section>

<!--
<section id="services" class="container-fluid no-padding">

	<div class="twitter__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#services" style="background-image: url({{'about-bg.jpg' | asset_url}});">

		<div class="sv__container--md">

			<div class="row about__process">

				<div class="col-sm-12 col-md-6">
					<h3>our process</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos error, impedit nam sapiente nihil repellendus! Aspernatur libero, ipsum consectetur eaque provident fugit nobis autem sunt quae non! Itaque vel, atque?</p>
				</div>

				{% comment %}<div class="col-sm-12 col-md-6 process__box no-padding">

					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Define</h6>
					</div>
					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Design</h6>
					</div>
					<div class="col-sm-4 process__icon no-padding">
						<img src="{{'gear.png' | asset_url}}" alt="">
						<h6>Build</h6>
					</div>

				</div>	{% endcomment %}

			</div>

		</div>

	</div>

</section> -->
<!-- End container -->

<!-- Barbers -->
<section class="container__white">

	<!-- <div class="angle-top" style="border-right-color: #e8e8e8;"></div> -->

	<div class="container sv__container--md inner-content-module">

		<div class="barbers">

			<div class="headline-md">
				<h2>Tools of the trade</h2>
			</div>
		</div>
	</div>

	<div class="single-image">
		<img class="img-responsive" src="{{'tools.jpg' | asset_url}}" alt=""/>
	</div>

</section>

<section class="container-fluid no-padding white-bg">

	<div class="sv__container--md process__grid">

		<div class="row">


			<div class="col-sm-12">
				<!--<div class="col-sm-12 single__image">
					<h3 class="text-center" >Our Srevices</h3>
					<img class="img-responsive" src="{{'razor.png' | asset_url}}" alt="">
				</div> -->


				<div class="process__grid--wrapper">

					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-diamond fa-2x"></i>
							<h4>Top Talent</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-scissors fa-2x"></i>
							<h4>Hip Haircuts</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-cogs fa-2x"></i>
							<h4>Technical Expertise</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-anchor fa-2x"></i>
							<h4>Modern Design</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid no-padding single-image">
		<img class="img-responsive" src="{{'about-bg-lg.jpg' | asset_url}}" alt=""/>
	</div>

</section>


{% endblock %}

{% block scripts %}
{% endblock %}
