{% block content %}
<!--
#################################
 - Blog -
#################################
-->
<div class="section container-fluid tier2 white-bg">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h2>The Shave Blog</h2>
			<h3>Our best tips + recommendations on hair for your lifestyle</h3>
		</div>

	</div>
</div><!-- end header -->

<!-- Blog Article List begin -->
<div class="section container-fluid no-padding blog-container">

	<div class="row no-margin">

		<article class="col-xs-12 col-sm-6 no-padding post-thumb">
			<div class="post-thumb-img" style="background-image: url('{{ 'blog-1.jpg' | asset_url}}')"></div>
			<a class="post-thumb-link" href="/blog-details"></a>
			<div class="post-thumb-content">
				<div class="post-thumb-meta">
					<span class="post-thumb-category">
						<a href="#" rel=" category tag">Haircuts</a>
					</span>
					<span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>June 30, 2018</span>
				</div>
				<h2 class="post-thumb-title"><a href="/blog-details">Wet vs. Dry Cuts</a></h2>
			</div>
		</article>

		<article class="col-xs-12 col-sm-6 no-padding post-thumb">
			<div class="post-thumb-img" style="background-image: url('{{ 'blog-2.jpg' | asset_url}}')"></div>
			<a class="post-thumb-link" href="/blog-details"></a>
			<div class="post-thumb-content">
				<div class="post-thumb-meta">
					<span class="post-thumb-category">
						<a href="#" rel=" category tag">Haircuts</a>
					</span>
					<span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>July 22, 2018</span>
				</div>
				<h2 class="post-thumb-title"><a href="/blog-details">Time Between Cuts</a></h2>
			</div>
		</article>

		<article class="col-xs-12 col-sm-6 no-padding post-thumb">
			<div class="post-thumb-img" style="background-image: url('{{ 'blog-3.jpg' | asset_url}}')"></div>
			<a class="post-thumb-link" href="/blog-details"></a>
			<div class="post-thumb-content">
				<div class="post-thumb-meta">
					<span class="post-thumb-category">
						<a href="#" rel=" category tag">Shave</a>
					</span>
					<span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>July 1, 2018</span>
				</div>
				<h2 class="post-thumb-title"><a href="/blog-details">After the Shave</a></h2>
			</div>
		</article>

		<article class="col-xs-12 col-sm-6 no-padding post-thumb">
			<div class="post-thumb-img" style="background-image: url('{{ 'blog-4.jpg' | asset_url}}')"></div>
			<a class="post-thumb-link" href="/blog-details"></a>
			<div class="post-thumb-content">
				<div class="post-thumb-meta">
					<span class="post-thumb-category">
						<a href="#" rel=" category tag">Style</a>
					</span>
					<span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>June 12, 2018</span>
				</div>
				<h2 class="post-thumb-title"><a href="/blog-details">Date Night Style Tips</a></h2>
			</div>
		</article>

		<article class="col-xs-12 col-sm-6 no-padding post-thumb">
			<div class="post-thumb-img" style="background-image: url('{{ 'blog-5.jpg' | asset_url}}')"></div>
			<a class="post-thumb-link" href="/blog-details"></a>
			<div class="post-thumb-content">
				<div class="post-thumb-meta">
					<span class="post-thumb-category">
						<a href="#" rel=" category tag">Products</a>
					</span>
					<span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>July 15, 2018</span>
				</div>
				<h2 class="post-thumb-title"><a href="/blog-details">Top 5 Hair products</a></h2>
			</div>
		</article>

	</div><!-- end row -->

</div><!-- End blog -->

{% endblock %}
