{% layout "layout" %}

{% block content %}
<!-- TODO: Add icons for post info -->
<!-- TODO: Change ::: to be above text -->
<!-- Intro blog -->
<section class="container-fluid tier2 white-bg">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h1>Our Blog</h1>
			<h3>Get the latest news on trends, deals, and cool stuff.</h3>
		</div>
	</div>
	<div class="angle-bottom" style="border-left-color: #fff;"></div>
</section>

<!-- Blog Article List begin -->
<section class="container-fluid grey-bg no-padding">
	<div class="sv__container--md no-padding">
		<div class="blog-container">

			<!-- #featured-post# -->
			<article class="blog-post featured-post">

				<div class="content">

					<div class="post-image">
						<a href="/blog-details">
							<img class="img-responsive" src="{{ 'featured-image.jpg' | asset_url}}" alt="">
						</a>
					</div>

					<div class="post-text featured-text">

						<div class="post-info date">

							<div class="col-xs-12 text-center">
								<a href="#"><span>Thu</span>10/15</a>
							</div>

						</div>

						<div class="blog-desc">
							<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

							<!--<div class="post-tags">
                                <a href="">Fashion</a>
                                <a href="">Hipster</a>
                                <a href="">Single</a>
                            </div>-->

							<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
						</div>

						<div class="text-center blog-more">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

						<div class="post-info featured-info">

							<div class="col-xs-12 no-padding">
								<div class="row">
									<div class="col-xs-6">
										<a class="comments pull-left" href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									</div>
									<div class="col-xs-6">
										<a class="views pull-right" href="#">345 views<i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</article>
			<!-- end featured post -->

			<!-- 2 col articles -->
			<div class="dual-list">

				<!-- Article 1 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<div class="post-info date">

								<div class="col-xs-12 text-center">
									<a href="#"><span>Thu</span>10/15</a>
								</div>

							</div>

							<div class="blog-desc">
								<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

								<!--<div class="post-tags">
                                    <a href="">Fashion</a>
                                    <a href="">Hipster</a>
                                    <a href="">Single</a>
                                </div>-->

								<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
							</div>

							<div class="text-center blog-more">
								<a class="btn book-now-btn" href="">Read More</a>
							</div>

						</div>

					</div>

				</article>

				<!-- Article 2 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<div class="post-info date">

								<div class="col-xs-12 text-center">
									<a href="#"><span>Thu</span>10/15</a>
								</div>

							</div>

							<div class="blog-desc">
								<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

								<!--<div class="post-tags">
                                    <a href="">Fashion</a>
                                    <a href="">Hipster</a>
                                    <a href="">Single</a>
                                </div>-->

								<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
							</div>

							<div class="text-center blog-more">
								<a class="btn book-now-btn" href="">Read More</a>
							</div>

						</div>

					</div>

				</article>


			</div>

			<!-- #featured-post# -->
			<article class="blog-post featured-post">

				<div class="content">

					<div class="post-image">
						<a href="/blog-details"><img class="img-responsive" src="{{ 'featured-image.jpg' | asset_url}}" alt=""></a>
					</div>

					<div class="post-text featured-text">

						<div class="post-info date">

							<div class="col-xs-12 text-center">
								<a href="#"><span>Thu</span>10/15</a>
							</div>

						</div>

						<div class="blog-desc">
							<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

							<!--<div class="post-tags">
								<a href="">Fashion</a>
								<a href="">Hipster</a>
								<a href="">Single</a>
							</div>-->

							<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
						</div>

						<div class="text-center blog-more">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

						<div class="post-info featured-info">

							<div class="col-xs-12 no-padding">
								<div class="row">
									<div class="col-xs-6">
										<a class="comments pull-left" href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									</div>
									<div class="col-xs-6">
										<a class="views pull-right" href="#">345 views<i class="fa fa-eye"></i></a>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</article>
			<!-- end featured post -->

			<!-- 2 col articles -->
			<div class="dual-list">

				<!-- Article 1 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<div class="post-info date">

								<div class="col-xs-12 text-center">
									<a href="#"><span>Thu</span>10/15</a>
								</div>

							</div>

							<div class="blog-desc">
								<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

								<!--<div class="post-tags">
									<a href="">Fashion</a>
									<a href="">Hipster</a>
									<a href="">Single</a>
								</div>-->

								<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
							</div>

							<div class="text-center blog-more">
								<a class="btn book-now-btn" href="">Read More</a>
							</div>

						</div>

					</div>

				</article>

				<!-- Article 2 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<div class="post-info date">

								<div class="col-xs-12 text-center">
									<a href="#"><span>Thu</span>10/15</a>
								</div>

							</div>

							<div class="blog-desc">
								<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

								<!--<div class="post-tags">
									<a href="">Fashion</a>
									<a href="">Hipster</a>
									<a href="">Single</a>
								</div>-->

								<p>Lots of autonomy, less mastery, and little purpose: We're about to be in a difficult spot.</p>
							</div>

							<div class="text-center blog-more">
								<a class="btn book-now-btn" href="">Read More</a>
							</div>

						</div>

					</div>

				</article>


			</div>


			<div class="pagination__wrapper">
				<nav>
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

		</div>
	</div>


</section>
<!-- End blog list -->

{% endblock %}
