{% layout "layout" %}

{% block content %}
<!-- TODO: Add icons for post info -->
<!-- TODO: Change ::: to be above text -->
<!-- Intro blog -->
<section class="container-fluid tier2 white-bg">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h1>Our Blog</h1>
			<h3>Get the latest news on trends, deals, and cool stuff.</h3>
		</div>
	</div>
	<div class="angle-bottom" style="border-left-color: #fff;"></div>
</section>

<!-- Blog Article List begin -->
<section class="container-fluid grey-bg footer-push">

	<div class="container">

		<div class="row">

			<!-- #featured-post# -->
			<article class="blog-post featured-post">

				<div class="content">

					<div class="post-image">
						<a href="/blog-details"><img class="img-responsive" src="{{ 'featured-image.jpg' | asset_url}}" alt=""></a>
					</div>

					<div class="post-text featured-text">

						<div class="post-tags">
							<a href="">Fashion</a>
							<a href="">Hipster</a>
							<a href="">Single</a>
						</div>

						<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

						<div class="post-info featured-info">

							<div class="col-xs-12 comments">
								<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
								<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
								<a href="#"><i class="fa fa-eye"></i>345 views</a>
							</div>

						</div>

						<p>It’s time for another Text Drive post! To be honest, there’s nothing I love typing with more than a beautiful script. There’s something about the way all the letters connect so seamlessly, so beautifully, all at the same time.
						</p>

						<div class="text-center blog-more">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

						<!-- <div class="social-container">
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
						</div> -->


					</div>

				</div>

			</article>
			<!-- end featured post -->

			<!-- 2 col articles -->
			<div class="dual-list">

				<!-- Article 1 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<h4><a href="#">The Finest Shave a Man can get is called a straight shave</a></h4>

							<div class="post-info featured-info">

								<div class="col-xs-12 comments">
									<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
									<a href="#"><i class="fa fa-eye"></i>345 views</a>
								</div>

							</div>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a...
							</p>

						</div>

						<div class="text-center">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

					</div>

				</article>

				<!-- Article 2 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<h4><a href="#">The Finest Shave a Man can get is called a straight shave</a></h4>

							<div class="post-info featured-info">

								<div class="col-xs-12 comments">
									<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
									<a href="#"><i class="fa fa-eye"></i>345 views</a>
								</div>

							</div>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a...
							</p>

						</div>

						<div class="text-center">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

					</div>

				</article>


			</div>

			<!-- #featured-post# -->
			<article class="blog-post featured-post">

				<div class="content">

					<div class="post-image">
						<a href="/blog-details"><img class="img-responsive" src="{{ 'featured-image.jpg' | asset_url}}" alt=""></a>
					</div>

					<div class="post-text featured-text">

						<div class="post-tags">
							<a href="">Fashion</a>
							<a href="">Hipster</a>
							<a href="">Single</a>
						</div>

						<h3><a href="#">The Finest Shave a Man can get is called a straight shave</a></h3>

						<div class="post-info featured-info">

							<div class="col-xs-12 comments">
								<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
								<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
								<a href="#"><i class="fa fa-eye"></i>345 views</a>
							</div>

						</div>

						<p>It’s time for another Text Drive post! To be honest, there’s nothing I love typing with more than a beautiful script. There’s something about the way all the letters connect so seamlessly, so beautifully, all at the same time.
						</p>

						<div class="text-center blog-more">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

						<!-- <div class="social-container">
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
						</div> -->


					</div>

				</div>

			</article>
			<!-- end featured post -->

			<!-- 2 col articles -->
			<div class="dual-list">

				<!-- Article 1 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<h4><a href="#">The Finest Shave a Man can get is called a straight shave</a></h4>

							<div class="post-info featured-info">

								<div class="col-xs-12 comments">
									<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
									<a href="#"><i class="fa fa-eye"></i>345 views</a>
								</div>

							</div>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a...
							</p>

						</div>

						<div class="text-center">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

					</div>

				</article>

				<!-- Article 2 -->
				<article class="col-xs-12 col-sm-6 blog-post">

					<div class="content">

						<div class="post-image">
							<a href=""><img class="img-responsive" src="{{ 'article-1.jpg' | asset_url}}" alt=""></a>
						</div>

						<div class="post-text">

							<h4><a href="#">The Finest Shave a Man can get is called a straight shave</a></h4>

							<div class="post-info featured-info">

								<div class="col-xs-12 comments">
									<a href="#"><i class="fa fa-comment-o"></i>245 Comments</a>
									<a href="#"><i class="fa fa-clock-o"></i>posted March 20th</a>
									<a href="#"><i class="fa fa-eye"></i>345 views</a>
								</div>

							</div>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a...
							</p>

						</div>

						<div class="text-center">
							<a class="btn book-now-btn" href="">Read More</a>
						</div>

					</div>

				</article>


			</div>


			<div class="pagination__wrapper">
				<nav>
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>

</section>
<!-- End blog list -->

{% endblock %}
