{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm">
				<h1>Trending Cuts</h1>
				<h3>The latest hair cuts that made our heads turn.</h3>
			</div>
		</div>
		
	</section>

	<section class="container-fluid footer-push container__white no-padding">

		<div class="col-xs-12 gallery-filters">
			<ul class="filter-group">
				<li class="filter-item" data-filter="*">Show All</li>
				<li class="filter-item" data-filter=".hair">Hair Styles</li>
				<li class="filter-item" data-filter=".beard">Beard Sculpts</li>
				<li class="filter-item" data-filter=".mustache">Mustache twirls</li>
			</ul>
		</div>
		
		<div class="col-xs-12 full-width-gallery no-padding">

		 	<div class="grid-sizer"></div>
			

			{% comment %}section1{% endcomment %}
			<div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		 	<div class="gallery-item width2 height2 beard">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item width2 mustache">
		        <span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
		    </div> 
		    
			<div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    {% comment %}section2{% endcomment %}

		    <div class="gallery-item width2 height2 beard">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item width2 mustache">
		        <span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		    <div class="gallery-item hair">
		        <span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
		    </div>

		 
		</div>

	</section>


{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script>
	// ==========================================================================
    // Full gallery Isotope
    // ==========================================================================
    $(window).load(function(){
	    var $fullGrid = $('.full-width-gallery');
	    $fullGrid.isotope({
	        itemSelector: ".gallery-item",
						 //layoutMode: 'fitRows',
						 percentPosition: true,
			masonry: { "columnWidth": ".grid-sizer" }
	    });

	    $('.filter-group').on( 'click', 'li', function() {

	    	var galleryPageHeight = $(window).height();

	  		var filterValue = $(this).attr('data-filter');

	  		$fullGrid.isotope({ filter: filterValue });

	  		var filterContentHeight = $('.full-width-gallery').height();
	  		
	  		var updatedHeight = galleryPageHeight - filterContentHeight;

	  		$('body').css('height', updatedHeight + 'px');
		});

		//Filter
		var val = window.location.hash;
		var hash;
		// console.log(val);

		if(val != ''){
			hash = val.substr(8);
			// console.log(hash)
			$fullGrid.isotope({ filter: hash });
			// $('#myTab > li').each(function(){
			// 	$(this).removeClass('active');
			// 	if( hash === this.id ){
			// 		$(this).addClass('active');
			// 	}
			// });

		}

	});
    
</script>
{% endblock %}