
{% block content %}
	<!--
    #################################
           - Masonry Gallery -
    #################################
    -->
<div class="section container-fluid white-bg">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h2>Trending Cuts</h2>
			<h3>The latest hair cuts that made our heads turn.</h3>
			{% include "gallery/gallery-filter" %}
		</div>
	</div>
</div><!-- end gallery header -->

<!-- gallery -->
<div class="section container__white gallery-container">

	<div class="container-fluid inner-content-module full-width-container">

		<div id="masonry-gallery" class="col-xs-12 full-width-gallery no-padding gallery-isotope">

			<div class="grid-sizer"></div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 6</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style6-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 5</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style5-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 height2 hair beard">
				<a href="/gallery-details">
					<h5>Style 8</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style8-l.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 hair beard">
				<a href="/gallery-details">
					<h5>Style 4</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style4-w.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 beard">
				<a href="/gallery-details">
					<h5>Style 9</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style9-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-stallion-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 height2 beard">
				<a href="/gallery-details">
					<h5>Style 10</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style10-l.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 13</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style13-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 3</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style3-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 mustache">
				<a href="/gallery-details">
					<h5>Style 2</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style2-w.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 12</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style12-m.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details">
					<h5>Style 11</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'shave-style11-m.jpg' | asset_url}});" ></span>
				</a>
			</div>


		</div><!-- end isotope wrapper -->

	</div><!-- end container -->

</div><!-- end gallery section -->

{% endblock %}
{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
	{{ "gallery-iso.js" | asset_url | script_tag }}
{% endblock %}