{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm">
				<h1>Trending Cuts</h1>
				<h3>The latest hair cuts that made our heads turn.</h3>
			</div>
		</div>
		<div class="angle-bottom" style="border-left-color: #fff;"></div>
	</section>

	<section class="container__grey portfolio-container">

		<div class="container-fluid inner-content-module full-width-container">

			{% include "gallery/gallery-filter" %}

			<div class="col-xs-12 full-width-gallery no-padding portfolio-isotope">

				<div class="grid-sizer"></div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 height2 beard">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 mustache">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 height2 beard">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 mustache">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

			</div>

		</div>

	</section>




{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script>
	// ==========================================================================
    // Full gallery Isotope
    // ==========================================================================
    $(window).load(function(){

		var doit;
		var $fullGrid = $('.full-width-gallery');
		var $grid = $fullGrid.isotope({
			itemSelector: '.gallery-item',
			isInitLayout: false,
			masonry: { "columnWidth": ".grid-sizer" }
		});

		function WhichBrowser() {
			//IE
			if (navigator.appName == "Microsoft Internet Explorer") {
				return "msie";
			}

			//Chrome
			if ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (
					navigator.userAgent.toLowerCase().indexOf('safari') > -1) && (navigator.appName ==
					"Netscape")) {
				return "chrome";
			}
			//Firefox
			if ((navigator.userAgent.toLowerCase().indexOf('firefox') > -1) && (
					navigator.appName == "Netscape")) {
				return "firefox";
			}
			//Safari
			if ((navigator.userAgent.toLowerCase().indexOf('safari') > -1) && !(
					navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.appName ==
					"Netscape")) {

				if(navigator.userAgent.match(/iPad/i) != null){
					return "ipad";
				}else{


					return "safari";
				}

			}

			//Opera
			if (navigator.appName == "Opera") {
				return "opera";
			}
		}

		//IE9 fixs
		function browserJs( browserID ){

			if(browserID == "safari"){
				$fullGrid.isotope({
					itemSelector: ".gallery-item",
//						 layoutMode: 'fitRows',
					transitionDuration: '.5s',
					percentPosition: true,
//					isResizeBound: false,
					isInitLayout: false,
					masonry: { "columnWidth": ".grid-sizer" }
				});

			}else{
				//Run if any other browser
				$fullGrid.isotope({
					itemSelector: ".gallery-item",
//						 layoutMode: 'fitRows',
					transitionDuration: '.5s',
					percentPosition: true,
					isResizeBound: false,
					isInitLayout: false,
					masonry: { "columnWidth": ".grid-sizer" }
				});
			}

		}

//		browserJs(WhichBrowser());


		var galleryItems = $('.gallery-item').get();


		// trigger isotope again after images have loaded
//		$fullGrid.imagesLoaded( function(){
//			$fullGrid.isotope('layout');
//		});

		function reFilter(item){
			$fullGrid.isotope({
				filter: item
			});
		}

		function setImageHeight(){
			var itemWidth = $('.gallery-item.square').innerWidth();

			for(var i=0; i < galleryItems.length; i++){

				if($(galleryItems[i]).hasClass('width2') && $(galleryItems[i]).hasClass('height2')){
					//set height as widthx2
					var double = itemWidth * 2;
					$(galleryItems[i]).innerHeight(double);
				}
				if($(galleryItems[i]).hasClass('width2') & !$(galleryItems[i]).hasClass('height2')|| $(galleryItems[i]).hasClass('square') ){
					//set height with width
					$(galleryItems[i]).innerHeight(itemWidth);
				}
			}

//			$('.gallery-item').each(function(){
//				if($(this).hasClass('width2') && $(this).hasClass('height2')){
//					//set height as widthx2
//					var double = itemWidth * 2;
//					$(this).height(double);
//				}
//				if($(this).hasClass('width2') & !$(this).hasClass('height2')|| $(this).hasClass('square') ){
//					//set height with width
//					$(this).height(itemWidth);
//				}
//			});
		}

		function setMinHeight(){
			var currentHeight = $('.gallery-item.square').width();
			$('.portfolio-isotope').css('min-height', currentHeight);
		}

		function portfolioIsotopeWrapper () {

			if ( $(window).innerWidth() > 1584 ) {
				$portfolio_grid = 5;
			} else if ( $(window).innerWidth() <= 600 ) {
				$portfolio_grid = 1;
			} else if ( $(window).innerWidth() <= 991 ) {
				$portfolio_grid = 2;
			} else if ( $(window).innerWidth() <= 1199 ) {
				$portfolio_grid = 3;
			} else {
				$portfolio_grid = 4;
			}

			if ( $('.gallery-3-grid').length > 0 && $(window).innerWidth() > 1248 )
			{
				$portfolio_grid = 3;
			}

			if ( $('.gallery-4-grid').length > 0 && $(window).innerWidth() > 1584 )
			{
				$portfolio_grid = 4;
			}

			$portfolio_wrapper_width = $('.portfolio-container').width();

			if ( $portfolio_wrapper_width % $portfolio_grid > 0 ) {
				$portfolio_wrapper_width = $portfolio_wrapper_width + ( $portfolio_grid - $portfolio_wrapper_width%$portfolio_grid);
			}

			$('.portfolio-isotope').css('width',$portfolio_wrapper_width);

			return $portfolio_grid;
		} // end portfolioIsotopeWrapper

		portfolioIsotopeWrapper();
		$grid.isotope('layout');
//		setTimeout(resizedw, 500);

		function resizedw(){
//			setImageHeight();
//			reFilter('*');
//			setMinHeight();
//			$fullGrid.isotope('layout');
			$fullGrid.isotope('layout');
//			$fullGrid.isotope( 'on', 'layoutComplete', function() {
//				console.log('arrange is complete, just once')
//			})
		}

//		$grid.on( 'layoutComplete', function( event, filteredItems ) {
//			console.log( 'test' );
//		});

		window.onresize = function(){

				clearTimeout(doit);

				//portfolio isotope
				if ( $('.portfolio-container').size() ) {
					portfolioIsotopeWrapper();
					doit = setTimeout(resizedw, 500);
				}

		};

		$('.filter-group').on( 'click', 'li', function() {


			$(this).parent().children('li').each(function(){
				$(this).removeClass('selected');
			});

			$(this).addClass('selected');

//			var galleryPageHeight = $(window).height();

			var filterValue = $(this).attr('data-filter');

			reFilter(filterValue);

//			var filterContentHeight = $('.full-width-gallery').height();

//			var updatedHeight = galleryPageHeight - filterContentHeight;

//			$('body').css('height', updatedHeight + 'px');
		});

		//Filter
		var val = window.location.hash;
		var hash;
		// console.log(val);

		if(val != ''){
			hash = val.substr(8);

			// console.log(hash)
			$fullGrid.isotope({ filter: hash });

			$('.filter-group > li').each(function(){
				var data = $(this).data('filter');
				if( data === hash){
					$(this).addClass('selected');
				}
				return;
			});
			
		}

	});
    
</script>
{% endblock %}