<!--
#################################
       - Masonry Gallery -
#################################
-->
{% block content %}

<section class="container-fluid white-bg">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h1>Trending Cuts</h1>
			<h3>The latest hair cuts that made our heads turn.</h3>
			{% include "gallery/gallery-filter" %}
		</div>
	</div>
</section><!-- end gallery header -->

<!-- gallery -->
<section class="container__white gallery-container">

	<div class="container-fluid inner-content-module full-width-container">

		<div id="masonry-gallery" class="col-xs-12 full-width-gallery no-padding gallery-isotope">

			<div class="grid-sizer"></div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 height2 beard">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 mustache">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 height2 beard">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width2 mustache">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
				</a>
			</div>

		</div><!-- end isotope wrapper -->

	</div><!-- end container -->

</section><!-- end gallery section -->

{% endblock %}
{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
	{{ "gallery-iso.js" | asset_url | script_tag }}
{% endblock %}