{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm">
				<h1>Trending Cuts</h1>
				<h3>The latest hair cuts that made our heads turn.</h3>
			</div>
		</div>
		<div class="angle-bottom" style="border-left-color: #fff;"></div>
	</section>

	<section class="container__grey">

		<div class="container-fluid sv__container--md inner-content-module">

			{% include "gallery/gallery-filter" %}

			<div class="col-xs-12 full-width-gallery no-padding">

				<div class="grid-sizer"></div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 height2 beard">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 mustache">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 height2 beard">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item width2 mustache">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-2.jpg' | asset_url}});" ></span>
					</a>
				</div>

				<div class="gallery-item hair">
					<a href="">
						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<span style="background-image: url({{'iso-1.jpg' | asset_url}});" ></span>
					</a>
				</div>


			</div>

		</div>

	</section>




{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script>
	// ==========================================================================
    // Full gallery Isotope
    // ==========================================================================
    $(window).load(function(){
	    var $fullGrid = $('.full-width-gallery');
	    $fullGrid.isotope({
	        itemSelector: ".gallery-item",
						 //layoutMode: 'fitRows',
						 percentPosition: true,
			masonry: { "columnWidth": ".grid-sizer" }
	    });

	    $('.filter-group').on( 'click', 'li', function() {

	    	$(this).parent().children('li').each(function(){
	    		$(this).removeClass('selected');
	    	});
	    	
	    	$(this).addClass('selected');

	    	var galleryPageHeight = $(window).height();

	  		var filterValue = $(this).attr('data-filter');

	  		$fullGrid.isotope({ filter: filterValue });

	  		var filterContentHeight = $('.full-width-gallery').height();
	  		
	  		var updatedHeight = galleryPageHeight - filterContentHeight;

	  		$('body').css('height', updatedHeight + 'px');
		});

		//Filter
		var val = window.location.hash;
		var hash;
		// console.log(val);

		if(val != ''){
			hash = val.substr(8);

			// console.log(hash)
			$fullGrid.isotope({ filter: hash });

			$('.filter-group > li').each(function(){
				var data = $(this).data('filter');
				if( data === hash){
					$(this).addClass('selected');
				}
				return;
			});
			
		}

	});
    
</script>
{% endblock %}