{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm">
				<h1>Trending Cuts</h1>
				<h3>The latest hair cuts that made our heads turn.</h3>
				{% include "gallery/gallery-filter" %}
			</div>
		</div>
	</section>

	<section class="container__white">

		<div class="container-fluid inner-content-module full-width-container gallery-container">

			<div class="col-xs-12 gallery-5-grid no-padding gallery-isotope">

				<div class="grid-sizer"></div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square beard">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square mustache">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

				<div class="gallery-item square hair">
					<a href="">

						<h5>Wild Stallion</h5>
						<div class="subtext">Trendy, Hipster</div>
						<div class="overlay"></div>
						<img class="img-responsive" src="{{'iso-1.jpg' | asset_url}}" alt=""/>

					</a>
				</div>

			</div>

		</div>

	</section>



{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
{{ "gallery-iso.js" | asset_url | script_tag }}
{% endblock %}