{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm">
				<h1>Trending Cuts</h1>
				<h3>The latest hair cuts that made our heads turn.</h3>
			</div>
		</div>
		
	</section>

	<section class="container-fluid footer-push container__white no-padding">
		
		<div class="portfolioContainer sv__container--sm">

		 	<div class="grid-sizer"></div>
		    <div class="gallery-item width2 height2 objects">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>
		 
		    <div class="gallery-item width2 people places">
		        <img class="img-responsive" src="{{ 'iso-2.jpg' | asset_url}}" alt="image">
		    </div>    
		 
		    <div class="gallery-item width1 food">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>
		     
		    <div class="gallery-item width1 places">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>
		 
		    <div class="gallery-item width2 people places">
		        <img class="img-responsive" src="{{ 'iso-2.jpg' | asset_url}}" alt="image">
		    </div>
		 
		    <div class="gallery-item width2 height2 objects">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>
		 
		    <div class="gallery-item width1 food">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>
		     
		    <div class="gallery-item width1 places">
		        <img class="img-responsive" src="{{ 'iso-1.jpg' | asset_url}}" alt="image">
		    </div>   
		 
		</div>

	</section>


{% endblock %}
{% block scripts %}
<script>
// ==========================================================================
// Gallery Index page
// ==========================================================================

	    $(window).load(function(){
		    var $container = $('.portfolioContainer');
		    $container.isotope({
		        itemSelector: ".gallery-item",
							 //layoutMode: 'fitRows',
							 percentPosition: true,
				masonry: { "columnWidth": ".grid-sizer" }
		    }); 
		});
    
</script>
{% endblock %}