{% block content %}
<!--
#################################
		 - Col-4 Gallery -
#################################
-->
<div class="section container-fluid white-bg">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header--sm">
			<h2>Trending Cuts</h2>
			<h3>The latest styles + cuts that make our heads turn</h3>
			{% include "gallery/gallery-filter" %}
		</div>
	</div>
</div><!-- end gallery header -->

<!-- gallery -->
<div class="section white-bg gallery-container">

	<div class="container-fluid inner-content-module full-width-container">

		<div id="gallery-4" class="col-xs-12 gallery-4-grid no-padding gallery-isotope">

			<div class="grid-sizer"></div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details-1">
					<h5>Casanova</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style2-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 mustache">
				<a href="/gallery-details-2">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style10-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 beard">
				<a href="/gallery-details-3">
					<h5>Lumberjack</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style8-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 mustache">
				<a href="/gallery-details-1">
					<h5>Style 9</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style9-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 beard">
				<a href="/gallery-details-2">
					<h5>Wild Stallion</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-stallion-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 mustache">
				<a href="/gallery-details-3">
					<h5>Style 5</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style5-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 mustache">
				<a href="/gallery-details-1">
					<h5>Style 12</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style12-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details-2">
					<h5>Style 3</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style3-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details-3">
					<h5>Style 13</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style13-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details-2">
					<h5>Style 11</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style11-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 beard">
				<a href="/gallery-details-1">
					<h5>Style 6</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style6-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

			<div class="gallery-item width1 hair">
				<a href="/gallery-details-3">
					<h5>Style 14</h5>
					<div class="subtext">Trendy, Hipster</div>
					<div class="overlay"></div>
					<img class="img-responsive" src="{{'shave-style14-m.jpg' | asset_url}}" alt="Shave Gallery image"/>
				</a>
			</div>

		</div><!-- end isotope wrapper -->

	</div><!-- end container -->

</div><!-- end gallery section -->

{% endblock %}
{% block scripts %}
	{{ "isotope.min.js" | asset_url | script_tag }}
	{{ "gallery-iso.js" | asset_url | script_tag }}
{% endblock %}