{% layout "layout" %}

{% block content %}
<div class="container-fluid footer-push white-bg no-padding">

		<!-- Intro blog -->
		{% include "gallery/gallery-detail-intro" %}

		<div class="container-fluid container__grey">
			<div class="container sv__container--md ">

				{% comment %}Stats block{% endcomment %}
				<div class="row stats__container">

					{% comment %}Hair desc{% endcomment %}
				  	<div class="col-xs-12">

						<div class="stats__details">
							<h3>The Stallion Style</h3>
							<h4>$45.00</h4>
							<p>This cut was inspired by Bill and Ted's Excellent Adventure. It embodies the free spirit of a horse running through the sandy beaches etc.Introducing Playdium, the digital jukebox that delivers a new kind of entertainment experience.</p>
							<p>Constructed in cotton sweat fabric, this lovely piece, lacus eu mattis auctor, dolor lectus venenatis nulla, at tristique eros sem vel ante. Sed leo enim, iaculis ornare tristique non,</p>
						</div>

						<a class="btn book-now-btn" href="">Get this style</a>

				  	</div>

					{% comment %}Hair Stats Grid{% endcomment %}

				</div>

			</div> <!-- end container -->


		</div>

	{% include "gallery/gallery-product" %}

	{% include "gallery/gallery-social" %}

	{% include "gallery/gallery-details" %}

	<!-- <section class="sv__container--fluid dual-img">
		<div class="row">
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'left-image.jpg' | asset_url}}" alt=""/>
			</div>
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'right-image.jpg' | asset_url}}" alt=""/>
			</div>
		</div>
	</section> -->



	<!-- Barbers -->
	<section class="container__white">

		<!-- <div class="angle-top" style="border-right-color: #e8e8e8;"></div> -->

		<div class="container sv__container--md inner-content-module">

			<div class="barbers">

				<div class="headline-sm">
					<h2>Book with these barbers</h2>
				</div>

				<div class="section__wrapper">

					<div class="col-xs-12 col-md-4">
						<div class="barber__box card-shadow-md">

							<div class="barber__image" style="background-image: url({{'barber-cover-1.jpg' | asset_url}});">
								<div class="overlay text-center">
									<!-- <h3 class="white">Master of the blade</h3> -->
									<img class="img-responsive" src="{{'barber-icon.png' | asset_url}}" alt=""/>
								</div>
								<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
							</div>
							<img class="avatar" src="{{'avatar-1.jpg' | asset_url}}" alt=""/>
							<div class="title">
								<h4>Spencer Bigum</h4>
								<h5>Owner & Master Barber</h5>
							</div>
							<a class="btn book-now-btn" href="">Book now</a>

						</div>

					</div>

					<div class="col-xs-12 col-md-4">
						<div class="barber__box card-shadow-md">

							<div class="barber__image" style="background-image: url({{'barber-cover-1.jpg' | asset_url}});">
								<div class="overlay text-center">
									<!-- <h3 class="white">Master of the blade</h3> -->
									<img class="img-responsive" src="{{'barber-icon.png' | asset_url}}" alt=""/>
								</div>
								<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
							</div>
							<img class="avatar" src="{{'avatar-1.jpg' | asset_url}}" alt=""/>
							<div class="title">
								<h4>Spencer Bigum</h4>
								<h5>Owner & Master Barber</h5>
							</div>
							<a class="btn book-now-btn" href="">Book now</a>

						</div>

					</div>

					<div class="col-xs-12 col-md-4">
						<div class="barber__box card-shadow-md">

							<div class="barber__image" style="background-image: url({{'barber-cover-1.jpg' | asset_url}});">
								<div class="overlay text-center">
									<!-- <h3 class="white">Master of the blade</h3> -->
									<img class="img-responsive" src="{{'barber-icon.png' | asset_url}}" alt=""/>
								</div>
								<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
							</div>
							<img class="avatar" src="{{'avatar-1.jpg' | asset_url}}" alt=""/>
							<div class="title">
								<h4>Spencer Bigum</h4>
								<h5>Owner & Master Barber</h5>
							</div>
							<a class="btn book-now-btn" href="">Book now</a>

						</div>

					</div>

				</div>
				<!-- End row -->

			</div>

		</div>
		<!-- End price module container-->
	</section>



	<!-- End Barber module container-->

	{% comment %}
	{% include "blog/blog-related-articles" %}

	{% include "blog/blog-comments" %}
	{% endcomment %}

</div>


{% endblock %}
{% block scripts %}
    {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
    {{ "flickity-settings.js" | asset_url | script_tag }}
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script>
	// ==========================================================================
    // Gallery Detail page
    // ==========================================================================
    (function(){

    	//Special gallery settings for responsiveness
		var imgHeight;

		//get height of image on window resize
    	function getImgHeightMaster(){
    		var myImg = document.querySelector("#myImg");
    		var currHeight = myImg.clientHeight;

    		return currHeight;
    	}

    	//get height of thumbnail on window resize
    	function getThumbnailHeight(){
    		var myImg = document.querySelector("#myThumb");
    		var currHeight = myImg.clientHeight;

    		return currHeight;
    	}

			$('.gallery-nav').height(getThumbnailHeight());

    	//apply
    	$(window).on('resize', function(){

			var gallery = $(".gallery-main");

			gallery.find('.flickity-viewport').height(getImgHeightMaster());
			$('.gallery-nav').height(getThumbnailHeight());
			gallery.css('padding-bottom', getImgHeightMaster());
		});

		//Set Gallery Main padding-bottom to align subnav
		$('.gallery-main').css('padding-bottom', getImgHeightMaster());

		// ==========================================================================
		// Activate Product details
		// ==========================================================================

		var wrapper = $('.card__slider');

		wrapper.on('click', function(event){
			event.preventDefault();

			//check if element is hovered or not
			var isHovered = $(this).find(".book__app:hover").length;

			if( $(this).find('.content__wrapper').hasClass('active') && isHovered ){
				//do nothing because the user is hovering over an item
			}else{
//					closeNav();
				$(this).find('.content__wrapper').toggleClass('active');

				$(this).find('.book__app').toggleClass('active');
			}

		});

		function openTab(url){
			window.open(url, '_self');
		}

		wrapper.find('.book__app').find('a').on('click', function(event){

			var url = $(this).attr('href');
			openTab(url);
		});

		// ==========================================================================
		// Scroll Magic
		// ==========================================================================
		// init controller
//		var controller = new ScrollMagic.Controller({globalSceneOptions: {}});
//
//		function updateBox(){
//			$('#gallery-controls').css({
//				position: 'fixed',
//				opacity: 1,
////				top:'1653px',
//				left:'2%'
//			});
////			console.log($('#gallery-controls').offset());
////			console.log($('#sec1').offset());
////			console.log($('#sec1').height());
////
////			console.log($('#sec2').offset());
//		}
//
//		function removeBox(){
//			$('#gallery-controls').css({
//				left:'-20%'
//			});
//		}
//		// build scenes
//		new ScrollMagic.Scene({triggerElement: "#sec1"})
//						.setClassToggle("#gallery-controls", "active") // add class toggle
////						.on("start", updateBox)
////						.on("leave", removeBox)
//						.addIndicators() // add indicators (requires plugin)
//						.addTo(controller);
//		// var scrollMagic = new ScrollMagic.Scene({triggerElement: "#sec2"})
//		// 				.setPin("#gallery-controls")
//		// 				.setClassToggle("#gallery-controls", "pin") // add class toggle
//		// 				.on("enter leave", updateBox)
//		// 				.addIndicators({name: "2 (duration: 0)"}) // add indicators (requires plugin)
//		// 				.addTo(controller);
//		// new ScrollMagic.Scene({triggerElement: "#sec3"})
//		// 				.setClassToggle("#high3", "active") // add class toggle
//		// 				.addIndicators() // add indicators (requires plugin)
//		// 				.addTo(controller);
//		// new ScrollMagic.Scene({triggerElement: "#sec4"})
//		// 				.setClassToggle("#high4", "active") // add class toggle
//		// 				.addIndicators() // add indicators (requires plugin)
//		// 				.addTo(controller);

    })();
</script>
{% endblock %}
