{% block styles %}
    {{ "flickity.min.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block content %}
    <!--
    #################################
           - Gallery-Details -
    #################################
    -->
    <div class="section container-fluid white-bg container-push-xs">
        <div class="row sv__container--sm">
            <div class="col-xs-12 inner__header--sm">
                <h2>The Lumberjack</h2>
                <h3>When I sweat, it smells like sawdust</h3>
            </div>
        </div>
    </div><!-- end header -->

    <!-- Flickity Feature Gallery -->
    <div class="section container-fluid grey-bg no-padding ">

        <div class="angle-top" style="color: rgb(232, 232, 232); border-right-color:rgb(232, 232, 232);"></div>

        <div class="sv__container--md inner-lg space-desktop-lg">

            <div class="row no-margin">

                <div class="col-md-7 no-padding">

                    <!-- feature gallery -->
                    <div class="gallery__inner--feature gallery__slider">

                        <div class="gallery__inner--content">

                            <!-- Flickity HTML init -->
                            <div class="gallery gallery-main">
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img class="img-responsive" src="{{ 'lumberjack-lg-1.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img class="img-responsive" src="{{ 'lumberjack-lg-2.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img class="img-responsive" src="{{ 'lumberjack-lg-3.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                            </div>

                            <!--flickity sub-nav -->
                            <div id="subNav" class="gallery-nav">
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img id="myThumb" class="img-responsive" src="{{ 'lumberjack-sm-1.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img class="img-responsive" src="{{ 'lumberjack-sm-2.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                                <!-- flickity image -->
                                <div class="gallery-cell">
                                    <img class="img-responsive" src="{{ 'lumberjack-sm-3.jpg' | asset_url}}" alt="The Shave BarberShop Theme">
                                </div>
                            </div>

                        </div><!-- end offset content -->

                    </div> <!-- end gallery slider -->

                </div><!-- end col-7 -->

                <div class="col-md-5 no-padding">
                    <div class="sv__container--md ">

                        <div class="stats__container">

                            <div class="stats__details">
                                <h3>The Lumberjack Style</h3>
                                <h4>$33</h4>
                                <p>Nothing says a man like dirt on his face, sweat on his brow, and a burly beard that may or may not be inhabited by small wildlife. If you plan on walking into the public, we plan to help you with that. The lumberjack style takes your inherent manly scruff and tidies you up; we’re talking clean edges, face, brow and all over trims.</p>
                            </div>

                            <div class="gallery-details clearfix">

                                <h4><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Style Details <span><i class="fa fa-chevron-down"></i></span></a></h4>

                                <div class="collapse" id="collapseExample">

                                    <ul>
                                        <li>Any hair type.</li>
                                        <li>20-25 mins.</li>
                                        <li>For square/rectangular/sharper edged faces.</li>
                                        <li>General trimming, styling + edge cleaning.</li>
                                    </ul>

                                </div><!-- end collapse -->

                            </div><!-- end gallery details -->

                            <div class="space-sm">
                                <div class="style__btn">
                                    <div class="btn-group" role="group" aria-label="Styles">
                                        <a role="button" class="btn book-now-btn" data-toggle="modal" data-target="#bookNowModal">Get this style</a>
                                        <a role="button" href="/full-gallery" class="btn book-now-btn">Back To Gallery</a>
                                    </div>
                                </div>
                            </div><!-- end spacer -->

                        </div><!-- end stats container -->

                    </div><!-- end container -->

                </div><!-- end col-5 -->

            </div><!-- end row -->

        </div><!-- end container -->

    </div><!-- end section -->

    {% include "gallery/gallery-social" %}

    {% include "gallery/gallery-product" %}

    <!-- 3-col 2-row block -->
    <div class="section container-fluid sv-col-block-wrapper grey-bg">
        <div class="headline-intro text-center space-lg">
            <h3>we are The Shave</h3>
            <h4>A full service barbershop theme packed with features and an eye on design.</h4>
        </div>
        <div class="inner-lg">
            <div class="sv__container--md">
                <div class="row clearfix no-margin">

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-bolt icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Modern Web Design</h6>
                                <p>Clean, spacious design based on modern web trends. Lots of functionality to keep users clicking.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-line-chart icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Powerful Features</h6>
                                <p>Packed with easy to use, stylish options and clean code.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-star icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Scaleable</h6>
                                <p>Fully responsive HTML theme built with modular components to be swapped and switched for endless possibilities.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-rocket icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Parallax Backgrounds</h6>
                                <p>Extra details to get noticed and keeps users browsing. Easy to add to new pages or existing ones.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-envelope-o icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Top Support</h6>
                                <p>Free support, bug fixes, updates, and new content additions with every purchase.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-code icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Clean Code</h6>
                                <p>Highly detailed and organized files, coded to perfection.</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end row -->
            </div><!-- end container md -->
        </div><!-- end inner-lg -->
    </div><!-- end section -->

    {% include "gallery/style-3/style-3-related" %}

{% endblock %}
{% block scripts %}
    {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
    {{ "flickity-settings.js" | asset_url | script_tag }}
    {{ "gallery-details.js" | asset_url | script_tag }}
{% endblock %}
