{% layout "layout" %}

{% block content %}
<div class="container-fluid footer-push white-bg no-padding">

		<!-- Intro blog -->
		{% include "gallery/gallery-detail-intro" %}

		<div class="container-fluid container__grey">
			<div class="container sv__container--md ">
				
				{% comment %}Stats block{% endcomment %}
				<div class="row stats__container">

					{% comment %}Hair desc{% endcomment %}
				  	<div class="col-xs-12 col-md-5 stats__row--container">
						<div class="stats__row">
							<h3 class="heading-divider">The Stlye</h3>
							<p>Apply gel to wet hair. Air dry and finish with a flexible wax or pomade that also adds texture.</p>
						</div>
						<div class="stats__row">
							<h3 class="heading-divider">product</h3>
							<p>Keune Forte Gel, Keune Moulding Paste</p>
						</div>
						<div class="stats__row">
							<h3 class="heading-divider">price</h3>
							<p>$45.00</p>
						</div>
				  	</div>
					
					{% comment %}Hair Stats Grid{% endcomment %}
					<div class="col-xs-12 col-md-7">

					<!-- TODO: figure out touch support for cards -->
						<div class="col-xs-12 col-sm-6 no-padding flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="quad-box flipper">
								<div class="inner front">
									<div class="content">
										<img src="{{ 'stat-1.jpg' | asset_url}}" alt="">
										<h5>
											Hair Length
										</h5>
										<p>Medium</p>
									</div>
								</div>
								<div class="back">
									<p>back</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 no-padding flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="quad-box flipper">
								<div class="inner front">
									<div class="content">
										<img src="{{ 'stat-2.jpg' | asset_url}}" alt="">
										<h5>
											Face Type
										</h5>
										<p>Square</p>
									</div>
								</div>
								<div class="back">
									<p>back</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 no-padding flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="quad-box flipper">
								<div class="inner front">
									<div class="content">
										<img src="{{ 'stat-3.jpg' | asset_url}}" alt="">
										<h5>
											Hair Type
										</h5>
									</div>
								</div>
								<div class="back">
									<p>back</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 no-padding flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="quad-box flipper">
								<div class="inner front">
									<div class="content">
										<img src="{{ 'stat-4.jpg' | asset_url}}" alt="">
										<h5>
											Time to cut
										</h5>
										<p>Fast</p>
									</div>
								</div>
								<div class="back">
									<p>back</p>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
			{% comment %}
			<div class="sv__container--sm">
				
			</div>
			{% endcomment %}
			
		</div>

	<!-- Barbers -->
	<div class="container sv__container--md baber__box--wrapper">

		<div class="headline-set1">
			<h6>Select the best Barber</h6>
			<h3>suggested barber</h3>
		</div>

		<div class="row barber__row">
			
			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>
						
					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>
				
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>
						
					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>
				
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>
						
					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>
				
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" >
				<div class="barber__profile">
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>
						
					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>
				
			</div>
			
		</div>
		<!-- End row -->
		<div class="center-block text-center center-btn">
			<button class="btn btn-gold">Book appointment</button>
		</div>
		
	</div>
	<!-- End Barber module container-->	

	{% comment %}
	{% include "blog/blog-related-articles" %}

	{% include "blog/blog-comments" %}
	{% endcomment %}

</div>


{% endblock %}
{% block scripts %}
    {{ "flickity.pkgd.min.js" | asset_url | script_tag }}
    {{ "flickity-settings.js" | asset_url | script_tag }}
<script>
	// ==========================================================================
    // Gallery Detail page
    // ==========================================================================
    (function(){

    	//Special gallery settings for responsiveness
		var imgHeight;

		//get height of image on window resize
    	function getImgHeightMaster(){
    		var myImg = document.querySelector("#myImg");
    		var currHeight = myImg.clientHeight;

    		return currHeight;
    	}

    	//get height of thumbnail on window resize
    	function getThumbnailHeight(){
    		var myImg = document.querySelector("#myThumb");
    		var currHeight = myImg.clientHeight;

    		return currHeight;
    	}

    	//apply
    	$(window).on('resize', function(){
			
			$(".gallery-main").find('.flickity-viewport').height(getImgHeightMaster());
			$('.gallery-nav').height(getThumbnailHeight());
		});


		//Grid stats
		var statBoxHeight = $(".stats__container").find('.quad-box').height();

		$(".quad-box").each(function(item){
			// console.log($(this).height());
			$(this).height(statBoxHeight);
		});

    })();
</script>
{% endblock %}
