{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm full__prices">
				<h1>Let's talk prices.</h1>
				<h3>Here is a full list of all our services.</h3>
			</div>
		</div>

	</section>

	<section class="container-fluid container__grey footer-push no-padding">
		<div class="angle-bottom-top" style="color: #fff;"></div>
		<!-- pricing tab accordian -->
		<div class="sv__container--sm no-padding page__container">

			<div class="full__table--wrapper">

				<div class="pricing__table" role="tabpanel" data-pricing-id="pricing-toggle">

				<ul id="myTab" class="nav nav-tabs nav-justified white-tabs" role="tablist">
					<li id="beard-mustache" role="presentation" class="tab__control ">
						<a href="#beard" id="beard-tab" role="tab" data-toggle="tab" aria-controls="beard" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon"><img class="img-responsive" src="{{'noun_140468_cc.png' | asset_url}}" alt=""/></span>
								<span class="text">Beard & Mustache</span>
							</div>
						</a>
					</li>
					<li id="shave" role="presentation" class="tab__control active">
						<a href="#shaving" role="tab" id="shaving-tab" data-toggle="tab" aria-controls="shaving" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon"><img class="img-responsive" src="{{'noun_163738_cc.png' | asset_url}}" alt=""/></span>
								<span class="text">Shaving</span>
							</div>
						</a>
					</li>

					<li id="haircuts" role="presentation" class="tab__control">
						<a href="#hair-cuts" role="tab" id="haircuts-tab" data-toggle="tab" aria-controls="hair-cuts" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon"><img class="img-responsive" src="{{'noun_22509_cc.png' | asset_url}}" alt=""/></span>
								<span class="text">Hair Cuts</span>
							</div>
						</a>
					</li>
			    </ul>

				  	<!-- tab content -->
					<div id="myTabContent" class="tab-content">

					<!-- start breard and mustache -->
					<div role="tabpanel" class="tab-pane tab-fade" id="beard" aria-labelledby="beard-tab">

						<div class="header">
							<div class="headline-container">
								<h3>Beard & Mustache</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt="">
						</div>

						<div class="price__sheet">

							<div class="item">
								<div class="title">
									<h3>MOUSTACHE TRIM</h3>
								</div>
								<div class="price">
									<p>$15.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Beard Sculpt</h3>
								</div>
								<div class="price">
									<p>$15.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="price__footer">
								:::::
							</div>

						</div>

					</div>
				  	<!-- end breard and mustache -->

					<!-- start shaving -->
					<div role="tabpanel" class="tab-pane tab-fade active" id="shaving" aria-labelledby="shaving-tab">
						
						<div class="header">
							<div class="headline-container">
								<h3>Shaving</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt="">
						</div>

						<div class="price__sheet">

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Classic Shave</h3>
										</div>
										<div class="price">
											<p>$35</p>
										</div>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Full Shave with a longer title example</h3>
										</div>
										<div class="price">
											<p>$55</p>
										</div>
									</div>
									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Head Shave</h3>
										</div>
										<div class="price">
											<p>$35</p>
										</div>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Classic Shave</h3>
										</div>
										<div class="price">
											<p>$35</p>
										</div>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Full Shave with a longer title example</h3>
										</div>
										<div class="price">
											<p>$55</p>
										</div>
									</div>
									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="item__header">
										<div class="title">
											<h3>Head Shave</h3>
										</div>
										<div class="price">
											<p>$35</p>
										</div>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="price__footer">
									:::::
								</div>
							</div>

					</div>
					<!-- end shaving -->

					<!-- start haircut -->
					<div role="tabpanel" class="tab-pane tab-fade" id="hair-cuts" aria-labelledby="haircuts-tab">
						
						<div class="header">
							<div class="headline-container">
								<h3>Hair Cuts</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt="">
						</div>

						<div class="price__sheet">

								<div class="item">
									<div class="title">
										<h3>Full hair cut tab</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Full Shave</h3>
									</div>
									<div class="price">
										<p>$55.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Head Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>
								<div class="price__footer">
									:::::
								</div>
							</div>

					</div>
					<!-- end haircut -->

		      </div>
		      <!-- end tab content -->

		    </div>
			<!-- end pricing table -->	

			</div>
			<!-- end wrapper -->
				
		</div>

		
		<!-- End pricing tab accordian -->
	</section>


{% endblock %}
{% block scripts %}
<script>
	// ==========================================================================
    // Set tab active based on URL
    // ==========================================================================
	$(function() {

		//Filter
		var val = window.location.hash;
		var hash;
		console.log(val);

		var animateInDelay = function(e){
			setTimeout(function(){
				e.addClass('in');
			}, 1000);
		};

		var animateInShort = function(e){
			setTimeout(function(){
				e.addClass('in');
			}, 300);
		};

		if(val != ''){

			hash = val.substr(5);

			$('#myTab > li').each(function(){

				$(this).removeClass('active');

				if( hash === this.id ){

					var panelId = $(this).find('a').attr('href').substr(1);

					//show correct matching content with active Tab
					$('#myTabContent > div').each( function(){
						$(this).removeClass('active').removeClass('in');

						if(panelId === this.id){
							var element = $(this);
							$(this).addClass('active in');

							animateInDelay(element);

//							$(this).addClass('active').addClass('in');
						}
					});

					//add active class to the tab element
					$(this).addClass('active');

				}
			});

		} else{
			//show default
			setTimeout(function(){
				$('#shaving').addClass('active in');
			}, 1000);

		}

		//Change size of body depending on content in tabs
		$('#myTab').on('click', 'li', function(){
			var galleryPageHeight = $(window).height();
			var tabContentHeight = $('.sv__container--sm').height();
			var updatedHeight = galleryPageHeight - tabContentHeight;
			var panelId = $(this).find('a').attr('href').substr(1);
			$('body').css('height', updatedHeight + 'px');

			$('#myTabContent > div').each( function() {

				//first chck if the tab has active that was clicked
				if(!$(this).hasClass('active')){

					$(this).removeClass('active').removeClass('in');

					if(panelId === this.id){

						var element = $(this);
						console.log(this);

						setTimeout(function(){
							element.addClass('in');
						}, 200);

					}
				}

			});

		})
			
	});
    
</script>
{% endblock %}