{% block content %}
    <!--
    #################################
        - Service Section -
    #################################
    -->
    {% include "service-beards/beards-header-parallax" %}

    {% include "service-beards/beard-intro" %}

    <!-- Black bar -->
    <div class="section container-fluid no-padding black-bg">
        <div class="inner-md">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h4 class="text-center white">Our beard + mustache masters have 30 years of combined experience</h4>
                </div>
            </div>
        </div>
    </div><!-- End black bar -->

    <!-- Service dual feature imgs -->
    <div class="section container-fluid no-padding">
        <div class="row no-margin">
            <div class="col-sm-6 no-padding">
                <img class="img-responsive" src="{{'service-beard-1.jpg' | asset_url}}" alt="Shaving process"/>
            </div>
            <div class="col-sm-6 no-padding">
                <img class="img-responsive" src="{{'service-beard-2.jpg' | asset_url}}" alt="Shaving process"/>
            </div>
        </div>
    </div><!-- End feature imgs -->

    <!-- Gold bar -->
    <div class="section container-fluid no-padding gold-bg">
        <div class="inner-md">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h4 class="text-center white">Become a Master of the Blade. Own the Shave theme today!</h4>
                </div>
            </div>
        </div>
    </div><!-- End gold bar -->

    <!-- lead img/text block -->
    <div class="section container-fluid no-padding white-bg">
        <div class="inner-lg">
            <div class="sv__container--sm">
                <div class="row no-margin">
                    <div class="sv-wrapper">
                        <div class="col-sm-12 col-md-6 mobile-space-sm">
                            <div class="headline-sm">
                                <h2 class="text-left">Classy &amp; On Trend</h2>
                            </div>
                            <div class="content">
                                <p><span class="subtext">This theme was built for those who love style. It's an easy to use theme with many considerations:</span></p>
                            </div>
                            <div class="approach-list space-sm">
                                <ul>
                                    <li><i class="fa fa-check"></i><span>Clean, spacious design based on modern web trends</span></li>
                                    <li><i class="fa fa-check"></i><span>Slick gallery styles to keep the client browsing</span></li>
                                    <li><i class="fa fa-check"></i><span>Revolution Slider plugin included with the theme</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 margin-left-5 col-half mobile-space-tb">
                            <img class="img-responsive img-center active" src="{{'bottle-1.jpg' | asset_url}}" alt="Mobile Phone">
                        </div>
                    </div><!-- end wrapper -->
                </div><!-- end row -->
            </div><!-- end container sm -->
        </div><!-- end inner-lg -->
    </div><!-- end lead img/text block -->

    <!-- Start Parallax -->
    <div id="design-skr" class="section sv__container--fluid no-padding">

        <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

            <div class="inner-lg">
                <div class="buy__container sv__container--md">
                    <div class="buy__content">
                        <h2>Turning Heads</h2>
                        <p>Designed with passion and coded to perfection, The Shave is a stylish responsive HTML theme with a focus on the user’s experience.</p>
                        <a class="btn book-now-btn btn-white">Go Get it</a>
                    </div>
                </div>
            </div>
        </div><!-- end parallax bg -->

    </div><!-- End Parallax -->

    <!-- 3-col 2-row block -->
    <div class="section container-fluid sv-col-block-wrapper white-bg">
        <div class="headline-intro text-center space-lg">
            <h3>we are The Shave</h3>
            <h4>A full service barbershop theme packed with features and an eye on design.</h4>
        </div>
        <div class="inner-lg">
            <div class="sv__container--md">
                <div class="row clearfix no-margin">

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-bolt icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Modern Web Design</h6>
                                <p>Clean, spacious design based on modern web trends. Lots of functionality to keep users clicking.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-line-chart icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Powerful Features</h6>
                                <p>Packed with easy to use, stylish options and clean code.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-star icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Scaleable</h6>
                                <p>Fully responsive HTML theme built with modular components to be swapped and switched for endless possibilities.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-rocket icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Parallax Backgrounds</h6>
                                <p>Extra details to get noticed and keeps users browsing. Easy to add to new pages or existing ones.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-envelope-o icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Top Support</h6>
                                <p>Free support, bug fixes, updates, and new content additions with every purchase.</p>
                            </div>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-code icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Clean Code</h6>
                                <p>Highly detailed and organized files, coded to perfection.</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end row -->
            </div><!-- end container md -->
        </div><!-- end inner-lg -->
    </div><!-- end section -->

    <!-- Start Price module -->
    {% include "service-shave/price-boxs-shave" %}
    <!-- End Section price module -->

    <!-- black bar -->
    <div class="section container-fluid no-padding black-bg black-headline">
        <div class="inner-lg">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h2 class="text-center white">Featured Gallery Shots</h2>
                    <h5 class="text-center white">Need some inspiration? Here are a few of our favorite styles</h5>
                </div>
            </div>
        </div>
    </div><!-- End black bar -->

    <!-- Start Gallery module -->
    {% include "gallery-preview" %}
    <!-- End Section gallery module -->

    <!-- section footer -->
    <div class="section container-fluid white-bg no-padding">
        <div class="space-lg">
            <!-- Sell Box -->
            <div class="sv__container--md col3__module">

                <!-- Intro -->
                <div class="col-sm-12 no-padding">
                    <div class="intro">
                        <h2>Clean Design</h2>
                        <p class="small-headline">The Shave has a striking balance of modern design and user experience focus. Easily edit, manipulate, and customize quickly.</p>
                        <div class="space-sm"><a class="btn book-now-btn">Go Get it</a></div>
                    </div>

                </div> <!-- End Intro -->

                <!-- Sell box featured image -->
                <div class="col-sm-12">
                    <img class="img-responsive space-lg" src="{{'shave-beard-footer.jpg' | asset_url}}" alt="featured barber products">
                </div>

            </div><!-- end sell-box -->

        </div><!-- end space-lg -->

    </div><!-- end section -->

    <!-- Service links -->
    <div class="section">
        {% include "service-beards/related-services" %}
    </div><!-- End service links -->

{% endblock %}

{% block scripts %}

{% endblock %}