{% layout "layout" %}

{% block content %}
	<!--
    #################################
        - Service Section -
    #################################
    -->
	{% include "service-shave/service-intro-shave" %}

	<section id="service2-skr" class="sv__container--fluid">

		<div class="parallax__background image__content" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-bg-lg.jpg' | asset_url}});">

		</div><!-- end parralax bg -->

	</section>

	<!-- static -->
	<!--<section class="sv__container--fluid dual-img">
		<div class="row no-margin">
			<div class="col-xs-12 no no-padding">
				<img class="img-responsive" src="{{'service-full.jpg' | asset_url}}" alt="full service barbershop"/>
			</div>
		</div>
	</section>-->

	<!-- Service Section -->
	<section id="content" class="container-fluid grey-bg reverse-angle">
		<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

		<div class="row sv__container--md sell__box">

			<div class="">
				<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
			</div>

			<div class="row wrapper">

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="angle-bottom" style="border-left-color: #e8e8e8;"></div> -->
	</section>
	<!-- End service section -->

	<!-- Products Section -->
	{% include "service-shave/products" %}
	<!-- End Products Section -->

	<!-- Start Style full bleed -->
	{% include "service-shave/service-parallax" %}
	<!-- End Style full bleed -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}
	<!-- End Section price module -->

	<!-- Start bio module -->
	{% include "service-shave/suggested-barber" %}
	<!-- End bio module -->

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}
	<!-- End Faq -->

	<div class="container-fluid no-padding footer-push">
		<div class="discover__wrapper">
			<div class="discover__image active" style="background-image: url({{'feature-background2.jpg' | asset_url}});">

			</div>
			<div class="discover__image" style="background-image: url({{'feature-background_3.jpg' | asset_url}});">

			</div>
			<div class="discover__image" style="background-image: url({{'feature-background_4.jpg' | asset_url}});">

			</div>
			<div class="discover__title">
				<h3>Get inspired by our work</h3>
				<p></p>
				<div class="discover__module">
					<div class="discover__module--wrapper">
						<div class="master__icon">
							<img class="img-responsive disc-1 active" data-title="Shave" src="{{'noun_163738_cc.png' | asset_url}}" alt=""/>
							<img class="img-responsive disc-2" data-title="Mustaches" src="{{'noun_140468_cc.png' | asset_url}}" alt=""/>
							<img class="img-responsive disc-3" data-title="HairCuts" src="{{'noun_22509_cc.png' | asset_url}}" alt=""/>
							<a class="disc__top" href=""><i class="fa fa-chevron-up"></i></a>
							<a class="disc__bottom" href=""><i class="fa fa-chevron-down"></i></a>
						</div>

						<div class="master__title">
							<h4>Shave</h4>
						</div>
						<div class="discover__link">
							<a href="">
								<span>View Gallery</span>
								<i class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// FAQ
		// ==========================================================================
		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		function WhichBrowser() {
			//IE
			if (navigator.appName == "Microsoft Internet Explorer") {
				return "msie";
			}

			//Chrome
			if ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (
					navigator.userAgent.toLowerCase().indexOf('safari') > -1) && (navigator.appName ==
					"Netscape")) {
				return "chrome";
			}
			//Firefox
			if ((navigator.userAgent.toLowerCase().indexOf('firefox') > -1) && (
					navigator.appName == "Netscape")) {
				return "firefox";
			}
			//Safari
			if ((navigator.userAgent.toLowerCase().indexOf('safari') > -1) && !(
					navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.appName ==
					"Netscape")) {

				if(navigator.userAgent.match(/iPad/i) != null){
					return "ipad";
				}else{
					$('body, footer').addClass('safari');

					$('section').last().removeClass('footer-push');

					return "safari";
				}

			}

			//Opera
			if (navigator.appName == "Opera") {
				return "opera";
			}
		}

		//IE9 fixs
		function browserJs( browserID ){

			if(browserID == 'msie' && document.documentMode == 9){

				ie9ProductsEvent();

			}else{
				//Run if any other browser
				modernProductsEvent();
			}

		}

		// ==========================================================================
		// Activate Product details modern browser
		// ==========================================================================
		function modernProductsEvent(){
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).find('.content__wrapper').toggleClass('active');
			});
		}


		// ==========================================================================
		// Rearrange copy for IE9
		// ==========================================================================
		function ie9ProductsEvent(){
			var productsContainer = $('.products');

			//click event
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).toggleClass('active');
			});

			//move elements

			if(productsContainer){
				productsContainer.find('.card__slider').each(function(i, v){

					var $this = $(this);
					var bio = $this.find(".bio"),
							title = $this.find('.title'),
							contentWrapper = $this.find('.content__wrapper');

					bio.detach();
					bio.insertBefore(contentWrapper);

					var newBio = $this.find('.bio').children('p');
					title.clone().insertBefore(newBio);
				});
			}
		}

		browserJs(WhichBrowser());

		// ==========================================================================
		// Get inspired Module
		// ==========================================================================
		var master = $('.master__icon');
		var masterTitle = $('.master__title');
		var discoverWrapper = $('.discover__wrapper');
		var count = 0;
		var position = 1;
		var arr = master.children('img').get().reverse();
		var arrImages = discoverWrapper.children('.discover__image').get().reverse();
		
		console.log(arrImages);

		//get total icons and fade out all but the first
		master.children('img').each(function(index){
			count ++;
			if(index == 0){
				masterTitle.html('<h4>' + $(this).data('title') + '</h4>');
			}else{
				$(this).fadeOut();
			}
		});

		discoverWrapper.children('.discover__image').each(function(index){

			if(index == 0){
				
			}else{
				$(this).fadeOut();
			}
		});


		$(".disc__top").click( function(event){
			event.preventDefault();
			var current = master.find('.active'),
				currentImage = discoverWrapper.find('.active');

			if(count == arr.length){
				//do nothing cus you are at the top
			}else{
				count++;
				console.log(count);
				current.fadeOut().removeClass('active').prev().addClass('active').fadeIn();
				currentImage.fadeOut().removeClass('active').prev().addClass('active').fadeIn();
				var title = $(arr[count - 1]).data('title');


				console.log(arr[count - 1]);
				//change title
				masterTitle.html('<h4>' + title + '</h4>');
			}
		});

		//down
		$(".disc__bottom").click( function(event){
			event.preventDefault();
			var current = master.find('.active'),
				currentImage = discoverWrapper.find('.active');

			if(count == 1){
				//do nothing cus you are at the end
			}else{
				count--;
				console.log(count);
				current.fadeOut().removeClass('active').next().addClass('active').fadeIn();
				currentImage.fadeOut('slow').removeClass('active').next().addClass('active').fadeIn('slow');
				console.log(arr[count - 1]);
				var title = $(arr[count - 1]).data('title');
				//change title
				masterTitle.html('<h4>' + title + '</h4>');

			}

		});

	});

</script>
{% endblock %}
