{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
<!-- TODO: Add Shaving Cream icons -->

	<!-- Offset header -->
	{% include "service-shave/service-intro-shave" %}
	<!-- End offset header -->

	<section class="sv__container--fluid">
		<div class="row">
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'left-image.jpg' | asset_url}}" alt=""/>
			</div>
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'right-image.jpg' | asset_url}}" alt=""/>
			</div>
		</div>
	</section>

	<!-- Service Section -->
	<section class="container-fluid grey-bg reverse-angle">
		<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

		<div class="row sv__container--md sell__box">

			<div class="">
				<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
			</div>

			<div class="row wrapper">

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="angle-bottom" style="border-left-color: #e8e8e8;"></div> -->
	</section>
	<!-- End service section -->

	<!-- Products Section -->
	<section>
		<div class="sv__container products">

			<div class="col-xs-12 col-sm-6 col-md-3 products__wrapper">

				<div class="card__slider card-shadow-md">

					<!-- member image -->
					<div class="image">
						<img class="img-responsive" src="{{ 'product-bottle.jpg' | asset_url}}" alt="">
					</div>
					<!-- member content -->
					<div class="content__wrapper">

						<div class="title">

							<a class="open" href="">

								<h5>Sandal Wood</h5>
								<h6>Aftershave</h6>
								<div class="angle-bottom-card" style="border-left-color: rgb(175, 140, 69);"></div>
							</a>

							<div class="bio">

								<p>What's up. My name is joe and I've been a family member of the shave for the last 8 years. I specialize in beard trimming and hipster hair cuts. So if your looking for either be sure to ask for me.</p>
							</div>

						</div>

						<!-- end title -->

					</div>
					<!-- end member -->

				</div>
				<!-- end team bio wrapper -->

			</div>
			<!-- end product -->

			<div class="col-xs-12 col-sm-6 col-md-3 products__wrapper">

				<div class="card__slider card-shadow-md">

					<!-- member image -->
					<div class="image">
						<img class="img-responsive" src="{{ 'product-bottle.jpg' | asset_url}}" alt="">
					</div>
					<!-- member content -->
					<div class="content__wrapper">

						<div class="title">

							<a class="open" href="">

								<h5>Sandal Wood</h5>
								<h6>Aftershave</h6>
								<div class="angle-bottom-card" style="border-left-color: rgb(175, 140, 69);"></div>
							</a>

							<div class="bio">

								<p>What's up. My name is joe and I've been a family member of the shave for the last 8 years. I specialize in beard trimming and hipster hair cuts. So if your looking for either be sure to ask for me.</p>
							</div>

						</div>

						<!-- end title -->

					</div>
					<!-- end member -->

				</div>
				<!-- end team bio wrapper -->

			</div>
			<!-- end product -->

			<div class="col-xs-12 col-sm-6 col-md-3 products__wrapper">

				<div class="card__slider card-shadow-md">

					<!-- member image -->
					<div class="image">
						<img class="img-responsive" src="{{ 'product-bottle.jpg' | asset_url}}" alt="">
					</div>
					<!-- member content -->
					<div class="content__wrapper">

						<div class="title">

							<a class="open" href="">

								<h5>Sandal Wood</h5>
								<h6>Aftershave</h6>
								<div class="angle-bottom-card" style="border-left-color: rgb(175, 140, 69);"></div>
							</a>

							<div class="bio">

								<p>What's up. My name is joe and I've been a family member of the shave for the last 8 years. I specialize in beard trimming and hipster hair cuts. So if your looking for either be sure to ask for me.</p>
							</div>

						</div>

						<!-- end title -->

					</div>
					<!-- end member -->

				</div>
				<!-- end team bio wrapper -->

			</div>
			<!-- end product -->

			<div class="col-xs-12 col-sm-6 col-md-3 products__wrapper">

				<div class="card__slider card-shadow-md">

					<!-- member image -->
					<div class="image">
						<img class="img-responsive" src="{{ 'product-bottle.jpg' | asset_url}}" alt="">
					</div>
					<!-- member content -->
					<div class="content__wrapper">

						<div class="title">

							<a class="open" href="">

								<h5>Sandal Wood</h5>
								<h6>Aftershave</h6>
								<div class="angle-bottom-card" style="border-left-color: rgb(175, 140, 69);"></div>
							</a>

							<div class="bio">

								<p>What's up. My name is joe and I've been a family member of the shave for the last 8 years. I specialize in beard trimming and hipster hair cuts. So if your looking for either be sure to ask for me.</p>
							</div>

						</div>

						<!-- end title -->

					</div>
					<!-- end member -->

				</div>
				<!-- end team bio wrapper -->

			</div>
			<!-- end product -->

		</div>
		<!-- end team section -->
	</section>


	<!-- Start Types of shaving cream -->
	<section id="service-skr" class="sv__container--fluid">

		<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#service-skr" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

		<div class="sv__container--md inner-content-module">

			<div class="headline-sm">
				<h2>Premium Shaving Cream</h2>
			</div>

			<div class="row service__products no-margin">


				<div class="col-xs-12 row__three service__products--row">

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-adjust fa-2x"></i>
							<h6>Unscented</h6>
							<h3>Classic Cream</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-skyatlas fa-2x"></i>
							<h6>Warm and Rich</h6>
							<h3>Sandalwood</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-pagelines fa-2x"></i>
							<h6>Moisturizing</h6>
							<h3>OCean kelp</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

				</div>

			</div>

			</div>

		</div><!-- end parralax bg -->

	</section>
	<!-- End section shaving cream -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}
	<!-- End Section price module -->

	<!-- Start Price module -->
	{% include "service-shave/suggested-barber" %}
	<!-- End Section price module -->

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}
	<!-- End Faq -->

	{% include "buy-theme" %}

{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// Services
		// ==========================================================================

		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		// ==========================================================================
		// Team page active team bio
		// ==========================================================================

		var wrapper = $('.card__slider');

		wrapper.on('click', function(event){
			event.preventDefault();

			//check if element is hovered or not
			var isHovered = $(this).find(".book__app:hover").length;

			if( $(this).find('.content__wrapper').hasClass('active') && isHovered ){
				//do nothing because the user is hovering over an item
			}else{
//					closeNav();
				$(this).find('.content__wrapper').toggleClass('active');

				$(this).find('.book__app').toggleClass('active');
			}

		});

		function openTab(url){
			window.open(url, '_self');
		}

		wrapper.find('.book__app').find('a').on('click', function(event){

			var url = $(this).attr('href');
			openTab(url);
		});


		// ==========================================================================
		// How it works
		// ==========================================================================
//		var arrHeight =[];
//		var arrClean =[];
//
//		$(".shave__card").each(function(item){
//			// console.log($(this).height());
//			arrHeight.push($(this).height());
//			arrClean.push($(this).height());
//		});
//
//		//reorder largest to smallest and get the largest item
//    	var largest = arrHeight.sort().reverse()[0];
//
//    	//find the index of the largest box, then add a tallest class to it
//    	var indexOf = $.inArray( largest, arrClean);
//
//    	$('.shave__card').eq(indexOf).addClass('tallest');
//
//    	//Set heights of the content boxs and then image boxs next
//    	$(".shave__card").each(function(item){
//
//			//Set new height of container
//			$(this).children('.content').css('height', largest + 'px');
//		});
//
//		$(".shave__card--img").each(function(item){
//
//			//Set new height of container
//			$(this).css('height', largest + 'px');
//		});
//
//
//		function getHeight(){
//			//on-resize set height to auto and target the tallest item only for height
//			$('.shave__card').children('.content').height('auto');
//			return $('.shave__card.tallest').height();
//		};
//
//		$(window).on('resize', function(){
//
//			//use tallest height for everything
//			var newHeight = getHeight();
//			$(".shave__card--img").css('height', newHeight + 'px');
//			$('.shave__card').children('.content').css('height', newHeight + 'px');
//
//		});

	});

</script>
{% endblock %}
