{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
<!-- TODO: Add Shaving Cream icons -->

	<!-- Offset header -->
	{% include "service-shave/service-intro-shave" %}
	<!-- End offset header -->

	<section class="sv__container--fluid dual-img">
		<div class="row">
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'left-image.jpg' | asset_url}}" alt=""/>
			</div>
			<div class="col-xs-6 no-padding">
				<img class="img-responsive" src="{{'right-image.jpg' | asset_url}}" alt=""/>
			</div>
		</div>
	</section>

	<!-- Service Section -->
	<section class="container-fluid grey-bg reverse-angle">
		<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

		<div class="row sv__container--md sell__box">

			<div class="">
				<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
			</div>

			<div class="row wrapper">

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="angle-bottom" style="border-left-color: #e8e8e8;"></div> -->
	</section>
	<!-- End service section -->

	<!-- Products Section -->
	{% include "service-shave/products" %}
	<!-- End Products Section -->

	<!-- Start Style full bleed -->
	<section id="service-skr" class="sv__container--fluid">

		<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#service-skr" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

		<div class="sv__container--md graphic-headline">

			<div class="headline-md white">
				<h2>Change the way you see style</h2>
			</div>

			<div class="row">

				<div class="col-xs-12">
					<p class="white">Meh distillery whatever, squid craft beer kitsch bicycle rights organic scenester disrupt. Fanny pack wayfarers sustainable 8-bit Cosby sweater, street art freegan leggings. Roof party Wes Anderson selfies semiotics Helvetica taxidermy. Echo Park deep v fingerstache authentic fixie slow-carb Portland Etsy 8-bit PBR Neutra, narwhal bicycle rights kale chips. Truffaut four loko wolf forage Marfa, shabby chic gastropub. High Life fashion axe photo booth gentrify.
					</p>
				</div>

			</div>

			</div>

		</div><!-- end parralax bg -->

	</section>
	<!-- End Style full bleed -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}
	<!-- End Section price module -->

	<div class="container-fluid no-padding single-image">
		<img class="img-responsive" src="{{'service-bg-lg.jpg' | asset_url}}" alt=""/>
	</div>

	<!-- Start bio module -->
	{% include "service-shave/suggested-barber" %}
	<!-- End bio module -->

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}
	<!-- End Faq -->


{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// Services
		// ==========================================================================

		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		// ==========================================================================
		// Activate Prodcut details
		// ==========================================================================

		var wrapper = $('.card__slider');

		wrapper.on('click', function(event){
			event.preventDefault();

			//check if element is hovered or not
			var isHovered = $(this).find(".book__app:hover").length;

			if( $(this).find('.content__wrapper').hasClass('active') && isHovered ){
				//do nothing because the user is hovering over an item
			}else{
//					closeNav();
				$(this).find('.content__wrapper').toggleClass('active');

				$(this).find('.book__app').toggleClass('active');
			}

		});

		function openTab(url){
			window.open(url, '_self');
		}

		wrapper.find('.book__app').find('a').on('click', function(event){

			var url = $(this).attr('href');
			openTab(url);
		});


		// ==========================================================================
		// How it works
		// ==========================================================================
//		var arrHeight =[];
//		var arrClean =[];
//
//		$(".shave__card").each(function(item){
//			// console.log($(this).height());
//			arrHeight.push($(this).height());
//			arrClean.push($(this).height());
//		});
//
//		//reorder largest to smallest and get the largest item
//    	var largest = arrHeight.sort().reverse()[0];
//
//    	//find the index of the largest box, then add a tallest class to it
//    	var indexOf = $.inArray( largest, arrClean);
//
//    	$('.shave__card').eq(indexOf).addClass('tallest');
//
//    	//Set heights of the content boxs and then image boxs next
//    	$(".shave__card").each(function(item){
//
//			//Set new height of container
//			$(this).children('.content').css('height', largest + 'px');
//		});
//
//		$(".shave__card--img").each(function(item){
//
//			//Set new height of container
//			$(this).css('height', largest + 'px');
//		});
//
//
//		function getHeight(){
//			//on-resize set height to auto and target the tallest item only for height
//			$('.shave__card').children('.content').height('auto');
//			return $('.shave__card.tallest').height();
//		};
//
//		$(window).on('resize', function(){
//
//			//use tallest height for everything
//			var newHeight = getHeight();
//			$(".shave__card--img").css('height', newHeight + 'px');
//			$('.shave__card').children('.content').css('height', newHeight + 'px');
//
//		});

	});

</script>
{% endblock %}
