{% block content %}
    <!--
    #################################
        - Service Section -
    #################################
    -->
    {% include "service-beards/beards-header-parallax" %}

    {% include "service-beards/beard-intro" %}
    <div class="section container-fluid no-padding black-bg">
        <div class="inner-md">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h4 class="text-center white">Clean Design and Powerful Features makes The Shave a superstar</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Service dual feature imgs -->
    <div class="section container-fluid no-padding">
        <div class="row no-margin">
            <div class="col-sm-6 no-padding">
                <img class="img-responsive" src="{{'service-beard-1.jpg' | asset_url}}" alt="Shaving process"/>
            </div>
            <div class="col-sm-6 no-padding">
                <img class="img-responsive" src="{{'service-beard-2.jpg' | asset_url}}" alt="Shaving process"/>
            </div>
        </div>
    </div><!-- End feature imgs -->
    <div class="section container-fluid no-padding gold-bg">
        <div class="inner-md">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h4 class="text-center white">Clean Design and Powerful Features makes The Shave a superstar</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="section container-fluid no-padding white-bg">
        <div class="inner-lg">
            <div class="sv__container--sm">
                <div class="row no-margin">
                    <div class="sv-wrapper">
                        <div class="col-sm-12 col-md-6 mobile-space-sm">
                            <div class="headline-sm">
                                <h2 class="text-left">Stylish Designs</h2>
                            </div>
                            <div class="content">
                                <p><span class="subtext">Over the last few years we’ve made a reputation for building websites that look great and are easy-to-use.</span></p>
                            </div>
                            <div class="approach-list space-sm">
                                <ul>
                                    <li><i class="fa fa-check"></i><span>Clean Spacious Design based on modern web trends</span></li>
                                    <li><i class="fa fa-check"></i><span>Drag & Drop Visual Page Builder with over 30 modules.Drag & Drop Visual Page Builder with over 30 modules</span></li>
                                    <li><i class="fa fa-check"></i><span>More Portfolio & Gallery styles than you can imagine</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 margin-left-5 col-half mobile-space-tb">
                            <img class="img-responsive img-center active" src="{{'bottle-1.jpg' | asset_url}}" alt="Mobile Phone">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Style full bleed -->
    <div id="design-skr" class="section sv__container--fluid no-padding">

        <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

            <div class="inner-lg">
                <div class="buy__container sv__container--md">
                    <div class="buy__content">
                        <h2>Eye catching design</h2>
                        <p>Designed with passion and coded to perfection, The shave is a stylish responsive HTML theme, that is packed with tons of features and easy to use .</p>
                        <a class="btn book-now-btn btn-white">Purchase Today</a>
                    </div>
                </div>
            </div>
        </div><!-- end parallax bg -->

    </div>
    <!-- End Style full bleed -->

    <div class="section container-fluid sv-col-block-wrapper white-bg">
        <div class="headline-intro text-center space-lg">
            <h3>we are The Shave</h3>
            <h4>Designed with passion and coded to perfection, The Shave is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use.</h4>
        </div>
        <div class="inner-lg">
            <div class="sv__container--md">
                <div class="row clearfix no-margin">
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-bolt icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Modern Web Design</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-line-chart icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Scalable</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-star icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Parallax Backgrounds</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-rocket icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Hero Sections</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-envelope-o icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Great Support</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                        <div class="sv-block-content">
                            <i class="fa fa-code icon-headline gold"></i>
                            <div class="sv-block-with-icon">
                                <h6>Clean Code</h6>
                                <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Price module -->
    {% include "service-shave/price-boxs-shave" %}
    <!-- End Section price module -->

    <!-- black bar -->
    <div class="section container-fluid no-padding black-bg black-headline">
        <div class="inner-lg">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <h2 class="text-center white">Featured Gallery Shots</h2>
                    <h5 class="text-center white">See some of our favorite clients results.</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Gallery module -->
    {% include "gallery-preview" %}
    <!-- End Section gallery module -->
    <div class="section container-fluid white-bg no-padding">
        <div class="space-lg">
            <!-- Sell Box -->
            <div class="sv__container--md col3__module">

                <!-- Intro -->
                <div class="col-sm-12 no-padding">
                    <div class="intro">
                        <h2>Clean Design</h2>
                        <p class="small-headline">The Shave has a striking balance of beautiful design and powerful features. Try building your website using our all powerful theme now!</p>
                        <div class="space-sm"><a class="btn book-now-btn">Purchase Today</a></div>
                    </div>

                </div> <!-- End Intro -->

                <!-- Sell box featured image -->
                <div class="col-sm-12">
                    <img class="img-responsive space-lg" src="{{'shave-beard-footer.jpg' | asset_url}}" alt="featured barber products">
                </div>

            </div><!-- end sell-box -->

        </div><!-- end space-lg -->

    </div><!-- end section -->

    <!-- Service links -->
    <div class="section">
        {% include "service-beards/related-services" %}
    </div><!-- End service links -->

{% endblock %}

{% block scripts %}

{% endblock %}