{% block content %}
<!--
#################################
	      - Team Page -
#################################
-->
<div class="section container-fluid white-bg">

	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h2>Choose a Master</h2>
			<h3>All of our barbers are professionally trained and deemed masters by our highest quality standards.</h3>
		</div>

	</div><!-- end row -->

	<div class="angle-bottom" style="border-left-color: #fff;"></div>

</div><!-- end header -->

<!-- barber section -->
<div class="section grey-bg">

	<div class="container sv__container--md content-wrapper">

		<div class="barbers">

			<div class="section__wrapper">

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-3.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">The Colorado mountains are my favorite getaway</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-4.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
						<div class="title">
							<h4>Adam Hinly</h4>
							<h5>Owner</h5>
							<p>Specialty: Shaves</p>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-6.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I love to travel</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-6.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
						<div class="title">
							<h4>Lauren Beth</h4>
							<h5>Pro Stylist</h5>
							<p>Specialty: Cuts</p>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-4.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I once caught a fish with my bare hands</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-1.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
						<div class="title">
							<h4>Mike Stewart</h4>
							<h5>Beardsman</h5>
							<p>Specialty: Trims</p>
						</div>
						<a class="btn book-now-btn" href="" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->

				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-5.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I’ve been playing electric for over 15 years</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-5.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Scott McBride</h4>
							<h5>Stache Taming</h5>
							<p>Specialty: Mustaches</p>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-2.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">Self professed adrenaline junkie</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-2.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Devon Chadd</h4>
							<h5>Blade Magician</h5>
							<p>Specialty: Straight Blade</p>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-1.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">Outside of work, you can catch me behind any kind of camera</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-3.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Spencer Biggs</h4>
							<h5>Barber-ian</h5>
							<p>Specialty: Cuts</p>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->

				</div><!-- end barber card -->

			</div><!-- end section wrapper -->

		</div><!-- end barber wrapper -->

	</div><!-- end content wrapper -->

</div><!-- end barber section -->

<!-- Gold bar -->
<div class="section container-fluid no-padding gold-bg">
	<div class="inner-sm">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="text-center white">All our barbers are trained and certified professionals</h4>
			</div>
		</div>
	</div>
</div><!-- end gold bar -->

{% endblock %}
{% block scripts %}

{% endblock %}