{% block content %}
<!--
#################################
	      - Team Page -
#################################
-->
<div class="section container-fluid white-bg">

	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h2>Choose a barber.</h2>
			<h3>All our barbers are professionally trained, extremely talented, and offer a diverse array of talents to make you look your best.</h3>
		</div>

	</div><!-- end row -->

	<div class="angle-bottom" style="border-left-color: #fff;"></div>

</div><!-- end header -->

<!-- barber section -->
<div class="section container__grey">

	<div class="container sv__container--md content-wrapper">

		<div class="barbers">

			<div class="section__wrapper">

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-4.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">The mountains is where you'll find me on the weekends.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-4.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Adam Hinly</h4>
							<h5>Owner & Master Barber</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-6.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">When I have time, I love to travel.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-6.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Lauren Beth</h4>
							<h5>Stylist & Fashonista</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-3.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I love the true craftsmenship of the retro barber and want to bring that experience to a new generation.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-3.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Mike Stewart</h4>
							<h5>Master Barber</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-5.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">I'm a master of the blade</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-5.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Scott McBride</h4>
							<h5>Barber</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-2.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">In my free time I love to skate around the city.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-2.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Devon Chadd</h4>
							<h5>Barber</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->
				</div><!-- end barber card -->

				<!-- barber card -->
				<div class="col-xs-12 col-sm-6 col-md-4 barber__wrapper">
					<div class="barber__box card-shadow-md">

						<div class="barber__image" style="background-image: url({{'barber-cover-1.jpg' | asset_url}});">
							<div class="overlay text-center">
								<h3 class="white">Cutting hair is a passion of mine since I was 9.</h3>
							</div>
							<div class="angle-top-bottom-barber" style="border-right-color: #fff;"></div>
						</div>
						<img class="avatar" src="{{'avatar-1.jpg' | asset_url}}" alt="The Shave Barber"/>
						<div class="title">
							<h4>Spencer Bigum</h4>
							<h5>Barber</h5>
						</div>
						<a class="btn book-now-btn" href="#" data-toggle="modal" data-target="#bookNowModal">Book now</a>

					</div><!-- end box -->

				</div><!-- end barber card -->

			</div><!-- end section wrapper -->

		</div><!-- end barber wrapper -->

	</div><!-- end content wrapper -->

</div><!-- end barber section -->

<!-- Gold bar -->
<div class="section container-fluid no-padding gold-bg">
	<div class="inner-sm">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="text-center white">All our barbers are trained and certified professionals</h4>
			</div>
		</div>
	</div>
</div><!-- end gold bar -->

{% endblock %}
{% block scripts %}

{% endblock %}